<html>
    <app-header></app-header>
    <body>
        <h2>Login</h2>
        <h3>{{loginError}}</h3>
        <div class="input-container">
            <form>
                <li><input type="text" placeholder="username" id="username" (blur)="usernameVerification()" (blur)="verifyUser()"></li>
                <li><input type="password" placeholder="password" id="password" (blur)="passwordVerification()" (blur)="verifyUser()"></li>
                <button type="submit" [routerLink]="[link]" (click)="errorMessages()" (click)="verifyUser()">ENTER</button>
                <a routerLink="/signup">Create new account</a>
            </form>
        </div>
    </body>
    <app-footer></app-footer>
</html>