<html>
<app-header></app-header>

<body>
    <h2>Login</h2>
    <h3>{{loginError}}</h3>
    <div class="input-container">

        <li><input type="text" placeholder="username" id="username" (blur)="usernameVerification()"></li>
        <li><input type="password" placeholder="password" id="password" (blur)="passwordVerification()"></li>
        <button type="submit" (click)="errorMessages()" (click)="verifyUser()">ENTER</button>
        <a routerLink="/signup">Create new account</a>

    </div>
</body>
<app-footer></app-footer>

</html>