<html>
    <head>
    </head>

    <header>
        <app-header></app-header>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    </header>

    <body >
        <h2>Login</h2>
        <h3>{{loginError}}</h3>
        <div class="input-container">

            <li><input type="text" placeholder="username" id="username" (blur)="usernameVerification()"></li>
            <li><input type="password" placeholder="password" id="password" (blur)="passwordVerification()"></li>
            <button type="submit" (click)="errorMessages()" (click)="verifyUser()">Enter</button>
           <div class="links">
            <a routerLink="/signup">Create new account</a>
            <a routerLink="/resetpassword">Forgot Password?</a>
           </div>

        </div>
    </body>

    <footer >
        <app-footer></app-footer>
    </footer>
    
</html>