html {
    background-color: #fff;
}
h3 {
    font-family: Lato;
    font-style: bold;
    font-size: 33px;  
}

.partners {
    text-align: center;
    font-family: Lato;
    font-style: bold;
    font-size: 33px;
}

.partners img {
    padding-left: 10px;
}

.sponors {
    text-align: center;
    font-family: Lato;
    font-style: bold;
    font-size: 33px;
}

.sponsors h3 {
    padding-bottom: 25px;
}