<html>
    <link ref="stylesheet" text="text/scss" href="footer.component.scss">
        <!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
        
    <!-- Grid row -->
    <div class="row">
        
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
            
        <!-- Content -->
        <div class="partners">
            <h3 class="text-uppercase">Partners</h3>

            <img src="../../assets/images/Partners/BoiseDistrictSchools.png" alt="BoiseDistrictSchools">
            <img src="../../assets/images/Partners/BoiseRescueMission.png" alt="BoiseRescueMission">
            <img src="../../assets/images/Partners/BoysAndGirlsClub.png" alt="BoysAndGirlsClub">
        </div>
        
        </div>
        <!-- Grid column -->
        
        <hr class="clearfix w-100 d-md-none pb-3">
        
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
            
            
        </div>
        <!-- Grid column -->
        
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
            
        <!-- Links -->
        <div class="sponsors">
            <h3 class="text-uppercase">Sponsors</h3>
    
            <img src="../../assets/images/Sponsors/Ventive.png" alt="Ventive">
        </div>
        
        </div>
        <!-- Grid column -->
        
    </div>
    <!-- Grid row -->
    
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:Y Stem And Chess Inc
        
    </div>
    <!-- Copyright -->

    </footer>
    <!-- Footer -->
</html>
