<html>
    <footer>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
        <div class="main-container">
            <div class="spacer"></div>
            <div class="partners-container">
                <h3>Partners</h3>
                <img src="../../assets/images/Footer/Partners/BoiseRescueMission.png" alt="Boise Rescue Mission">
                <img src="../../assets/images/Footer/Partners/BoiseDistrictSchools.png" alt="Boise District School">
                <img src="../../assets/images/Footer/Partners/BoysAndGirlsClub.png" alt="Boys and Girls Club">
            </div>
            <div class="sponsors-container">
                <h3>Sponsors</h3>
                <img src="../../assets/images/Footer/Sponsors/Ventive.png" alt="Ventive">
            </div>
            <div id="clear"></div>
            <div class="contact-container">
                <div id="left-side">
                    <p>STEM AND CHESS INC.</p>
                    <p>E: info@ystemandchess.com</p>
                    <p>P: 415 234 5678</p>
                </div>
                <div id="right-side">
                    <img src="../../assets/images/Footer/Links/Linkden.png" alt="Linkden" routerLink="https://www.linkedin.com/company/ystemandchessinc">
                    <img src="../../assets/images/Footer/Links/twitter.png" alt="Twitter" routerLink="https://twitter.com/ystemandchess">
                    <img src="../../assets/images/Footer/Links/facebook.png" alt="Facebook" routerLink="https://www.facebook.com/YSTEMandChess/">
                    <img src="../../assets/images/Footer/Links/instagram.png" alt="Instagram" routerLink="https://www.instagram.com/ystemandchess/">
                </div>
            </div>
        </div>
    </footer>
</html>