<html>
    <footer>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
        <div class="main-container">
            <div class="spacer"></div>
            <div class="partners-container">
                <h3>Partners</h3>
               <a href="https://boiserm.org/" target="_blank"><img src="../../assets/images/Footer/Partners/BoiseRescueMission.png" alt="Boise Rescue Mission"></a>
               <a href="https://neighborworksboise.com" target="_blank"><img src="../../assets/images/Footer/Partners/BoiseDistrictSchools.png" alt="Boise District School"></a>
               <a href="https://adaclubs.org" target="_blank"><img src="../../assets/images/Footer/Partners/BoysAndGirlsClub.png" alt="Boys and Girls Club"></a> 
            </div>
            <div class="sponsors-container">
                <h3>Sponsors</h3>
               <a href="https://getventiv.com" target="_blank"><img src="../../assets/images/Footer/Sponsors/Ventive.png" alt="Ventive"></a>
            </div>
            <div id="clear"></div>
            <div class="contact-container">
                <div id="left-side">
                    <p>Y STEM AND CHESS INC.</p>
                    <p>E: devin@ystemandchess.com </p>
                    <p>P: (208) 996-5071</p>
                </div>
                <div id="right-side">
                    <a href="https://www.linkedin.com/company/ystemandchessinc">
                        <img src="../../assets/images/Footer/Links/Linkden.png" alt="Linkden" href="https://www.linkedin.com/company/ystemandchessinc">
                    </a>
                    <a href="https://twitter.com/ystemandchess">
                        <img src="../../assets/images/Footer/Links/twitter.png" alt="Twitter">
                    </a>
                    <a href="https://www.facebook.com/YSTEMandChess/">
                        <img src="../../assets/images/Footer/Links/facebook.png" alt="Facebook">
                    </a>
                    <a href="https://www.instagram.com/ystemandchess/">
                        <img src="../../assets/images/Footer/Links/instagram.png" alt="Instagram">
                    </a>
                    <a href="https://donorbox.org/y-stem-and-chess-inc-learning-platform">
                        <img src="../../assets/images/Footer/Links/donate-box.png" alt="Donate-Box">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</html>
