<html>
    <body>
        <div id="support-container">
            <div id="support-statement">
                <h1>How can you help support us?</h1>
                <p>
                    By supporting YSTEM and Chess you are enriching a child's life through the 
                    engagement of Chess and STEM education that will encourage them to stay creative
                    and confident in their abilities throughout their life 
                </p>
            </div>
        </div>
        <div id="buttons-container">
            <button id="enroll-now-button" onclick="window.location.href='https://forms.gle/z4n8rzB6Bx258Pa18'">Enroll Now</button>
            <button id="donate-button" onclick="window.location.href='https://donorbox.org/embed/y-stem-and-chess-inc-learning-platform?default_interval=o'">Donate</button>
            <button id="volunteer-button" onclick="window.location.href='https://forms.gle/R36Ghx9pJBtZSmJw5'">Volunteer</button>
        </div>
        <div id="text-under-buttons-container">
            <a id="learn-more-link" routerLink="/programs">Learn More</a>
            <a id="cant-donate-text">Can't donate? Share us!</a>
        </div>
        <div id="social-media-links-container">
            <a id="linkedin-button" href="https://www.linkedin.com/company/ystemandchessinc">
                <img src="../../assets/images/landingPage/Linkden.png" alt="Linkden" href="https://www.linkedin.com/company/ystemandchessinc">
            </a>
            <a id="twitter-button" href="https://twitter.com/ystemandchess">
                <img src="../../assets/images/landingPage/twitter.png" alt="Twitter">
            </a>
            <a id="facebook-button" href="https://www.facebook.com/YSTEMandChess/">
                <img src="../../assets/images/landingPage/facebook.png" alt="Facebook">
            </a>
            <a id="instagram-button" href="https://www.instagram.com/ystemandchess/">
                <img src="../../assets/images/landingPage/instagram.png" alt="Instagram">
            </a>
        </div>
        <div id="images-container">
            <img id="stemy-mascot-1" src="../../../assets/images/landingPage/Stemett.PNG">
            <img id="stemy-mascot-2" src="../../../assets/images/landingPage/stemThem.jpg">
            <img id="stemy-mascot-3" src="../../../assets/images/homePage/STEMy_Mascot.png">
        </div>
    </body>
</html>
 