body {
  padding-top: 4%;
}

#support-container {
  overflow: hidden;
  height: auto;
  background-color: #f1f1f1;

  #support-statement {
    h1 {
      margin-top: 3%;
      font-style: bold;
      text-align: center;
    }
    p {
      margin-top: 2%;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 2%;
      text-align: center;
      font-size: large;
      font-weight: 400;
    }
  }
}

#buttons-container {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;

  #enroll-now-button {
    margin-right: 5%;
    background-color: deepskyblue;
    font-size: 60px;
    width: 25%;
  }

  #enroll-now-button:hover {
    background-color: white;
    color: deepskyblue;
  }

  #donate-button {
    margin-right: 5%;
    background-color: springgreen;
    font-size: 60px;
    width: 25%;
  }

  #donate-button:hover {
    background-color: white;
    color: springgreen;
  }

  #volunteer-button {
    background-color: gold;
    font-size: 60px;
    width: 25%;
  }

  #volunteer-button:hover {
    background-color: white;
    color: gold;
  }
}

#text-under-buttons-container {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  margin-left: 10%;

  #learn-more-link {
    text-decoration: underline;
    font-size: 30px;
    text-align: center;
    width: 25%;
  }

  #cant-donate-text {
    text-decoration: underline;
    font-size: 30px;
    text-align: center;
    width: 50%;
    margin-right: 33%;
  }
}

#social-media-links-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;

  #linkedin-button {
    margin-right: 1%;
  }

  #twitter-button {
    margin-right: 1%;
  }

  #facebook-button {
    margin-right: 1%;
  }

  img:hover {
    cursor: pointer;
    filter: brightness(1.3);
  }
}

#images-container {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;

  #stemy-mascot-2 {
    margin-left: 10%;
  }
}
