<html>
    <header>
        <app-header></app-header>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    </header>

    <body>
        <!-- start of stats container -->
        <div class="stats-container">
            <div id="row-names">
                <p>Student</p>
                <p>Progress</p>
            </div>
            <div class="row-values">
                <div id="student-name">
                    <p>Anna C.</p>
                </div>
                <div id="student-progress">

                </div>
                <div id="graph">
                    <img src="../../../assets/images/Vector 2.3.png" alt="vector">
                </div>
            </div>
        </div>
        <!-- end of stats container -->
    </body>

    <footer>
        <app-footer></app-footer>
    </footer>
</html>
