<html>
    <header>
        <app-header></app-header>
    </header>

    <body>
        <div class="our-mission">
            <img src="../../../assets/images/homePage/homePageChildPlayingChess.png" alt="child playing chess">
            <div class="our-mission-header">
                <h3>Our Mission</h3>
            </div>

            <div class="our-mission-statement">
                <p>Hello World</p>
            </div>
        </div>
    </body>

    <footer>
        <app-footer></app-footer>
    </footer>
</html>