<html>
    <header>
        <app-header></app-header>
    </header>

    <body>
        <!-- start of our mission container -->
        <div class="our-mission-container">
            <div class="our-mission-image">
                <img src="../../../assets/images/homePage/homePageChildPlayingChess.png" alt="Child playing chess">
            </div>
            <div class="our-mission-statement-header">
                <h3>Our Mission</h3>
            </div>
            <div class="our-mission-statement-paragraph">
                <p>
                    Open the minds and hearts of 
                    K through 12 children, young 
                    girls, and their families to the 
                    world of STEM.
                </p>
                <p>
                    Using a unique Mastery 
                    learning program integrating 
                    math, chess, coding, financial 
                    support and mentoring to help 
                    prepare/instill the qualities that 
                    will lead to success in life.
                </p>
                    
            </div>
        </div>
        <!-- end of our mission container -->

        <!-- start of play container -->
        <div class="play-container">
            <div id="play-container-header1">
                <h3>Play</h3>
            </div>
            <div id="play-container-header2">
                <h4>First week is FREE!</h4>
            </div>
            <div id="play-container-paragraph">
                <p>
                    Become a member now to 
                    benefit your child and all 
                    other children who participate 
                    in our program!
                </p>
            </div>
            <div id="play-container-links">
                <a href="#">Learn More</a>
                <button routerLink="play">Play Now &#9658;</button>
            </div>

        </div>
        <!-- end of play container -->

        <div id="clear"></div>

        <!-- start of become a mentor container -->
        <div class="become-a-mentor-container">

        </div>
        <!-- end of become a mentor container -->

        <!-- start of opening minds container -->
        <div class="opening-minds-container">

        </div>
        <!-- end of opening minds container -->
    </body>
    
    <footer>
        <app-footer></app-footer>
    </footer>
</html>