<html>
    <app-header></app-header>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <body>
        <div id="our-programs-container">
            <div id="our-programs-image">
                <img src="../../../assets/images/Programs/GirlAndChess.png" alt="GirlAndChess">
            </div>
            <div id="our-programs-statement">
                <h3>Our Programs</h3>
                <h4>Become a member now to benefit your child and all other 
                    children who participate in our program!</h4>
                <p>
                    Y STEM and Chess Inc. mission is to Open the Minds & 
                    Hearts of Kids (K-12) To Stem through Chess Using the 
                    powerful Mastery Learning approach to focus on how 
                    each individual learns best, Y Stem and Chess ensures 
                    learning and mastery of STEM principles to spark curiosity 
                    and the continued progress of each child.
                </p>
                <button type="button">Register Now &#9658;</button>
            </div>
        </div>
    </body>

    <app-footer></app-footer>
</html>
