body {
    padding-top:5%; //50px
}

//clear uneeded floats
#clear {
    clear:both;
}

#our-programs-container {
    display:flex;
    width:90%;
    height:auto;
    margin-left: 5%;
    border-radius: 33px;
    background-color: #3A7CCA;

    #our-programs-image {
        flex:7.5;
        height:auto;
    }

    #our-programs-image img {
        width:100%;
        height:auto;
        border-bottom-left-radius: 33px;
        border-top-left-radius: 33px;
    }

    #our-programs-statement {
        flex:9.5;
        padding-top:3%;
        margin-left:5%;
    }

    #our-programs-statement h3 {
        width:50%;
        padding-bottom: 0.5%;
        height:auto;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 900;
        font-size: 2.7vw; //42px
        line-height: 117.1%;
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }

    #our-programs-statement h4 {
        width:80%;
        padding-bottom:1.5%;
        height:auto;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 1vw; //22px
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }

    #our-programs-statement p {
        width:85%;
        padding-bottom:0%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 0.9vw; //22px
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }

    #our-programs-statement button {
        padding:1.1%;
        margin-bottom:7%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 1.8vw; //28px
        line-height: 117.1%;
        letter-spacing: 0.01em;
        border-radius: 33px;
        color: #3A7CCA;
        background-color: #fff;
    }
    #our-programs-statement ul {
        padding-left:7%;
        margin-bottom:2%;
        list-style: disc;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 0.9vw; //22px
        line-height: 117.1%;
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }

    #our-programs-statement button:hover {
        color:#fff;
        background-color: #3A7CCA;
    }
}

#cost-container {
    margin-top:5%;
    margin-left:5%;
    float:left;
    width:40%;
    height:auto;
    border-radius: 33px;
    background-color: #FF8503;

    #cost-statement h3 {
        width:70%;
        padding-left:5%;
        padding-top:5%;
        height:auto;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 900;
        font-size: 2.7vw; //42px
        line-height: 117.1%;
        color: #FFFFFF;
    }

    #cost-statement h4 {
        padding-left:5%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 1.7vw; //26px
        line-height: 117.1%;
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }
    
    #cost-statement p {
        width:95%;
        height:auto;
        padding-left:5%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 1.4vw; //22px
        line-height: 117.1%;
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }
}

#helping-container {
    float:right;
    margin-top:5%;
    margin-right:5%;
    width:40%;
    height:auto;
    border-radius: 33px;
    background-color: #51AA00;

    #helping-statement h3 {
        padding-right:5%;
        padding-top:5%;
        padding-left:5%;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 900;
        font-size: 1.9vw; //30px
        line-height: 117.1%;
        color: #FFFFFF;
    }

    #helping-statement p {
        width: 89.5%;
        height:auto;
        margin-bottom:3%;
        padding-right:5%;
        padding-left:5%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 1.4vw; //22px
        line-height: 117.1%;
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }
}

//scale font and image
@media screen and (max-width:950px) {
    #our-programs-container {

        #our-programs-image img {
            height:100%;
        }

        #our-programs-statement h3 {
            font-size: 3.5vw; //42px
        }
    
        #our-programs-statement h4 {
            font-size: 2.2vw; //22px
        }
    
        #our-programs-statement p {
            font-size: 2.2vw; //22px
        }
    
        #our-programs-statement button {
            font-size: 2.6vw; //28px
        }
    }

    #cost-container {
    
        #cost-statement h3 {
            font-size: 3.5vw; //42px
        }
    
        #cost-statement h4 {
            font-size: 2.5vw; //26px
        }
        
        #cost-statement p {
            font-size: 2.2vw; //22px
        }
    
        #cost-statement ul {
            font-size: 2.2vw; //22px
        }
    }
    
    #helping-container {
    
        #helping-statement h3 {
            font-size: 2.7vw; //30px
        }
    
        #helping-statement p {
            font-size: 2.2vw; //22px
        }
    }
}

//mobile view
@media screen and (max-width:766px) {
    #our-programs-container {
        flex-direction: column;
    
        #our-programs-image img {
            border-top-right-radius: 33px;
            border-top-left-radius: 33px;
            border-bottom-left-radius: 0px ;
        }
    
        #our-programs-statement h3 {
            font-size: 4.3vw; //42px
        }
    
        #our-programs-statement h4 {
            font-size: 3vw; //22px
        }
    
        #our-programs-statement p {
            font-size: 3vw; //22px
        }
    
        #our-programs-statement button {
            font-size: 3.2vw; //28px
        }
    }

    #cost-container {
        margin-top:5%;
        margin-left:5%;
        width:90%;
    
        #cost-statement h3 {
            font-size: 3.5vw; //42px
        }
    
        #cost-statement h4 {
            font-size: 2.5vw; //26px
        }
        
        #cost-statement p {
            font-size: 3vw; //22px
        }
    
        #cost-statement ul {
            font-size: 3vw; //22px
        }
    }
    
    #helping-container {
        margin-top:5%;
        margin-left:5%;
        width:90%;
        height:auto;
    
        #helping-statement h3 {
            font-size: 3.5vw; //30px
        }
    
        #helping-statement p {
            font-size: 3vw; //22px
        }
    }

    @media screen and (max-width:535px) {

        #our-programs-container {
        
            #our-programs-statement h3 {
                font-size: 5.1vw; //42px
            }
        
            #our-programs-statement h4 {
                font-size: 3.8vw; //22px
            }
        
            #our-programs-statement p {
                font-size: 3.8vw; //22px
            }
        
            #our-programs-statement button {
                font-size: 4vw; //28px
            }
        }

        #cost-container {
        
            #cost-statement h3 {
                font-size: 4.3vw; //42px
            }
        
            #cost-statement h4 {
                font-size: 3.3vw; //26px
            }
            
            #cost-statement p {
                font-size: 3.8vw; //22px
            }
        
            #cost-statement ul {
                font-size: 3.8vw; //22px
            }
        }

        #helping-container {
        
            #helping-statement h3 {
                font-size: 4.3vw; //30px
            }
        
            #helping-statement p {
                font-size: 3.8vw; //22px
            }
        }
    }
}