<html>
    <app-header></app-header>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <body>
        <!-- start of our programs container -->
        <div id="our-programs-container">
            <div id="our-programs-image">
                <img src="../../../assets/images/Programs/GirlAndChess.png" alt="GirlAndChess">
            </div>
            <div id="our-programs-statement">
                <h3>Our Programs</h3>
                <h4>Become a member now to benefit your child and all other 
                    children who participate in our program!</h4>
                <p>
                    Y STEM and Chess Inc. mission is to Open the Minds & 
                    Hearts of Kids (K-12) To Stem through Chess Using the 
                    powerful Mastery Learning approach to focus on how 
                    each individual learns best, Y Stem and Chess ensures 
                    learning and mastery of STEM principles to spark curiosity 
                    and the continued progress of each child.
                </p>
                <button type="button">Register Now &#9658;</button>
            </div>
        </div>
        <!-- end of our programs container -->
        <!-- start of cost container -->
        <div id="cost-container">
            <div id="cost-statement">
                <h3>First Month is Free. Cancel anytime.</h3>
                <h4>The cost is just $25 a week after the first month.</h4>
                <p>
                    After an initial sign-up, students can retain access to the 
                    program, and all sessions, for a fixed cost. Students will 
                    recieve personal guidance and role-developement, in a 
                    safe environment, through our background-checked 
                    mentors. If you have no need for tutoring and just want 
                    to help our mission out, donate through our Cause link 
                    found below.
                </p>
                <ul>
                    <li>In depth program from K-12</li>
                    <li>Tutoring in Chess strategy</li>
                    <li>Learn Math at different skill levels</li>
                    <li>Introduction to core computer language concepts</li>
                    <li>One on one mentoring</li>
                    <li>Personal skills development</li>
                    <li>Preperation for Advanced Learning and Career Paths</li>
                </ul>
            </div>
        </div>
        <!-- end of cost container -->
            <!-- start of helping container -->
            <div id="helping-container">
                <div id="helping-statement">
                    <h3>
                        Can't afford to donate monthly? 
                        We'd still love to have your 
                        student join!
                    </h3>
                    <p>
                        Our program was designed to help the most 
                        vulnerable students find their own success in 
                        STEM. We figured that if we could get students to 
                        graduate with a STEM degree we could break the 
                        cycle of poverty in one generation. The founders 
                        were tired of help being promised to help every 
                        year, every election every generation. We are 
                        helping our students help themselves. That is 
                        why our program is FREE to students from at risk 
                        backgrounds, schools, organizations that help 
                        them specifically those that qualify for free and 
                        reduced lunch. In depth program from 
                        K-12 Tutoring in Chess strategy Learn Math at 
                        different skill levels Introduction to core computer 
                        language concepts One on one mentoring (All 
                        mentors are background checked) We take the 
                        safety of your children as our highest priority.
                    </p>
                </div>
            </div>
            <!-- end of helping container -->
            <div id="clear"></div>
    </body>

    <app-footer></app-footer>
</html>
