<html>
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-KJ979C9");
    </script>
    <!-- End Google Tag Manager -->
  </head>

  <header>
    <app-header></app-header>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
  </header>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KJ979C9"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- start of our programs container -->
    <div id="our-programs-container">
      <div id="our-programs-image">
        <img
          src="../../../assets/images/Programs/kids-coding-2-cropped587541.jpg "
          alt="GirlAndChess"
        />
      </div>
      <div id="our-programs-statement">
        <h3>Our Programs</h3>
        <h4>
          Become a member today to benefit your child and all other children
          participating in our program!
        </h4>

        <p>
          Y STEM and Chess Inc. (YSC) seeks to open the hearts and minds of kids
          (K-12) to the world of STEM through chess and the Mastery Learning
          approach to ensure learning and mastery of STEM-related principles.
          YSC strives to empower underserved and at-risk children through
          mentoring and STEM skills development to enable them to pursue STEM
          careers and change their life trajectories.
        </p>

        <p>
          Students will receive personal guidance and role development in a safe
          environment through our background-checked mentors. Specific
          instruction includes
        </p>
        <ul>
          <li>In-depth programs from K-12</li>
          <li>Chess strategy instruction</li>
          <li>Learn math at different skill levels</li>
          <li>Introduction to core computer language concepts</li>
          <li>One-on-one mentoring</li>
          <li>Personal skills development</li>
          <li>Preparation for Advanced Learning and Career Paths</li>
        </ul>
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSfVezPch0PtG29-3ePHVvpeQL5vMohL_Mqsu7p6zz2zoDKIWw/viewform?vc=0&c=0&w=1"
        >
          <button type="button">Register Now &#9658;</button>
        </a>
      </div>
    </div>
    <!-- end of our programs container -->
    <!-- start of cost container -->
    <div id="cost-container">
      <div id="cost-statement">
        <h3>First Month is Free. Cancel anytime.</h3>
        <h4>The cost is just $25 a week after the first month.</h4>
        <p>
          After an initial sign-up, students can retain access to the program,
          and all sessions, for a fixed cost. Students will recieve personal
          guidance and role-developement, in a safe environment, through our
          background-checked mentors. If you have no need for tutoring and just
          want to help our mission out, donate through our Cause link.
        </p>
      </div>
    </div>
    <!-- end of cost container -->
    <!-- start of helping container -->
    <div id="helping-container">
      <div id="helping-statement">
        <h3>
          Can't afford to pay monthly? We'd still love to have your student
          join!
        </h3>
        <p>
          Our program was designed to help the most vulnerable students find
          their own success in STEM. We figured that if we could get students to
          graduate with a STEM degree, we could break the cycle of poverty in
          one generation. The founders were tired of help being promised every
          year, every election, every generation. We are helping our students
          help themselves.
        </p>
        <p>
          That is why our program is FREE to students from at-risk backgrounds,
          schools or organizations that help disadvantaged communities,
          specifically those that qualify for free and reduced lunch.
        </p>
      </div>
    </div>
    <!-- end of helping container -->
    <div id="clear"></div>
  </body>
  <footer style="padding-top: 210px;">
    <app-footer></app-footer>
  </footer>
</html>
