<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="student-profile-2.component.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="header-container">
        <img src="logo.png" class="header-logo" />
        <div class="header-right-section">
            <div class="header-button">Programs</div>
            <div class="header-button">Mentors</div>
            <div class="header-button">Lesson/Play</div>
            <div class="header-button">Log In</div>
            <img src = "Vector.png"
            width = 10%;
            height = auto;
            style="vertical-align:middle;">
        </div>   
    </div>

    <div>
      <canvas id="myChart">Your Browser Does Not Support the Canvas Tag</canvas>
    </div>
    <script src="student-profile-2.component.js"></script>

    <div class="board-container">
      <div class="image-grid">
        <a href="#">
          <img src="Activity Tab.png" alt="Image 1">
        </a>
        <a href="#">
          <img src="Mentor Tab.png" alt="Image 2">
        </a>
        <a href="#">
          <img src="Prodev Tab.png" alt="Image 3">
        </a>
        <a href="#">
          <img src="Chess Tab.png" alt="Image 4">
        </a>
        <a href="#">
          <img src="Games Tab.png" alt="Image 5">
        </a>
        <a href="#">
          <img src="Puzzles Tab.png" alt="Image 6">
        </a>
        <a href="#">
          <img src="Play Tab.png" alt="Image 7">
        </a>
        <a href="#">
          <img src="Recordings Tab.png" alt="Image 8">
        </a>
      </div>
      
    </div>     
    
    <footer class="footer">
        <table class = "table">
            <tr>
                <td><b><u>Sponsors</u></b></td>
                <td><b><u>Partners</u></b></td>
                
            </tr>
            <tr>
                <td><img src = "sponsor_1.png"></td>
                <td><img src = "sponsor_4.png"></td>
            </tr>
            <tr>
                <td><img src = "sponsor_2.png"></td>
                <td><img src = "sponsor_5.png"></td>
                <td><img src = "sponsor_7.png"></td>
            </tr>
            <tr>
                <td><img src = "sponsor_3.png"></td>
                <td><img src = "sponsor_6.png"></td>
            </tr>
            
        </table>
        <div class = "contact-info">
            <p>info@ystemandchess.com</p>
            <p>+1 208.996.5071</p>
        </div>
        <div class = "table-two">
            <tr>
                <td><img src = "Twitter.png"></td>
                <td><img src = "Facebook.png"></td>
                <td><img src = "Google.png"></td>
                <td><img src = "Insta.png"></td>
            </tr>
        </div>    
    </footer>   
</body>
</html>
