li {
  list-style-type: none;
  margin-bottom: 1%;
}

.header-container {
  display: flex;
  width: 100%;
  background-color: rgb(255, 255, 255)
}

.board-logo {
  width: 20%;
  margin-right: 5%;
}

.header-button {
  display: inline-block;
  margin-right: 5%;
  margin-top: 10px;
}

.header-right-section {
  width: 75%;
  text-align: right;
}

.board-container{
  margin: 0 20%;
  margin-bottom: 10%;
  margin-top: 30%;
  justify-content: center;
  background-color: #C8F2AE;
  border-radius: 30px 0px 0px 30px;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.footer {
  width: 100%;
  background-color: rgb(169, 208, 159) !important;
  overflow: auto;
}

.table {
  width: 50%;
  float: right;
  margin-top: 1%;
  margin-bottom: 1%;
}

.contact-info, .table-two {
  line-height: 10%;
  margin-left: 10%;
}

.contact-info {
  margin-top: 1.5%;
}

.table-two {
  margin-top: 2%;
}

.table img {
  width: 25%;
}

.image-grid {
  display: grid;
}

.image-grid a {
  display: block;
}

.image-grid img {
  width: 20%;
  height: auto;
}

body {background-color: #E5F3D2;}
