<html> 
    <header>
        <link ref="stylesheet" text="text/scss" href="styles.scss">
        <link ref="stylesheet" text="text/scss" href="header.component.scss">
        <img src="https://s3-alpha-sig.figma.com/img/83ea/55bf/2608f7a0d4c44361b2353a8dc4b09d99?Expires=1591574400&Signature=IHskLNrOY5hQEJlNhfID24lmpP~uSQUHPM0g-INjne2fqtKS68IrQBRANuU3rX~ZTzEXZIfQyV8vRolIT3mP1l1a12KiDlczNSYbOvPNH2d7j~eEDha1xPuMpCeUSCHsqUJzma7X7Tg3040xY-OA-JVsH4FNcga-~WjWOhhQcoPcEKqY7j~mOVYPlxbH~YjHjfDYfPkaNJ7~G~WvZ9mMoP1Vzyz1SVHetCFv8I6IztG2eUs~S-agajV7cWKAykBkUKCn0uleHs1n1oRIKvOsSpMlh5F7KymwytuTh~0Z8y8bf3z6gRd4RNbpve0CCXgRjkJZbDNL-KBYnVGMlCzHCw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
        <div class="LinkContainer">
            <a>PLAY</a>
            <a>BE A MENTOR</a>
            <a>PROGRAMS</a>
            <a>CONTACT</a>
            <button class="donate">DONATE</button>
            <button class="signup">SIGN UP</button>
        </div>
    </header>
</html>
