<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{{link}}">
        <img src="../../assets/images/Logo/YStemLogo.png" alt="logo" width="308px" height="109px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-left" href="{{playLink}}">Play</a>
            </li>
            <li class="nav-item">
                <div *ngIf="(role === 'mentor' || role === 'student') && !inMatch">
                    <a class="nav-link hvr-underline-from-left" (click)="openModal('find-game')" (click)="findGame()">Find a Game</a>
                    <jw-modal id="find-game">
                        <h1>Finding a game please wait</h1>
                        <div class="loader"></div>
                        <button (click)="removeFromWaiting()" (click)="closeModal('find-game');">X</button>
                    </jw-modal>
                </div>
                <div *ngIf="role !== 'mentor' && role !== 'student'">
                    <a class="nav-link hvr-underline-from-left" routerLink="/be-amentor">Be A Mentor</a>
                </div>
                <div *ngIf="inMatch && role !== 'parent'">
                    <a class="nav-link hvr-underline-from-left" (click)="leaveMatch()">Leave Meeting</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-left" href="/programs">Programs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-left" href="mailto:devin@ystemandchess.com">Contact</a>
            </li>
            <li class="nav-item">
                <a routerLink="/donate" class="btn btn-lg donate hvr-fade-1" tabindex="-1" role="button"
                    aria-disabled="true">Donate</a>
            </li>
            <li class='nav-item' *ngIf="!logged">
                <a routerLink='/login' id="login" class='btn btn-lg login hvr-fade-2' tabindex='-1' role='button'
                    aria-disabled='true'>Login</a>
            </li>
            <li class='nav-item' *ngIf="logged">
                <div class="btn-group">
                    <button class="btn btn-secondary btn-lg dropdown-toggle login hvr-fade-2" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{username}}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" (click)="logout()">Logout</a>
                        <div *ngIf="role === 'parent'">
                            <a class="dropdown-item" routerLink="/parent-add-student">Add Student</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>