.LinkContainer {
    float: right;
    padding-top: 40px;
    padding-right: 10px;
}

.LinkContainer a {
    padding: 10px;
}

.LinkContainer button {
    padding: 10px;
}

.LinkContainer .donate {
    margin-right: 15px;
}