header {
    width: 100%;
    height: 189px;
    background-color: #D4DDE0;
}
header img {
    width: 35%;
    height: auto;
    margin: 0 auto;
}
header .LinkContainer {
    float: right;
    width: 60%;
    text-align: center;
    height: auto;
    padding-top: 70px;
    padding-right: 10px;
}

header .LinkContainer a {
    padding: 15px;
    Font-Family: Lato;
    Font-Style: Black;
    Font-Size: 20px;
    font-weight: bold;
    color: #3F8500;
}

header .LinkContainer button {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 33px;
    Font-Family: Lato;
    Font-Style: Black;
    Font-Size: 20px;
    font-weight: bold;
    background-color: #FFFFFF;
}

header .LinkContainer .donate {
    margin-right: 25px;
    color: #3F8500;
}

header .LinkContainer .login {
    color: #3A7CCA;
}