<html>
    <head>
    </head>

    <header>
        <app-header></app-header>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    </header>
<body>

<div class="form">
<form (ngSubmit)="submitForm()" #contactForm="ngForm">

    <div class="form-group">
        <label class="label" for="name">Name</label>
        <input 
        autocomplete="off"
            class="form-control" 
            type="text" 
            name="name" 
            id="fullname" 
            [(ngModel)]="name"
            #nameInput = "ngModel"
            required>
            <div class="help is-error" *ngIf="nameInput.invalid && nameInput.touched">
                Please enter your name.
            </div>
    </div>

    <div class="form-group">
        <label class="label" for="email">Email</label>
        <input 
        autocomplete="off"
            class="form-control" 
            type="email" 
            name="email" 
            id="email" 
            [(ngModel)]="email"
            #emailInput = "ngModel"
            required
            email> 
            <div class="help is-error" *ngIf="emailInput.invalid && emailInput.touched">
               Please insert a valid email.
            </div>    
    </div>

    <div class="form-group">
        <label class="label" for="message">Message</label>
        <textarea 
            class="form-control" 
            name="message" 
            id="message"  
            [(ngModel)]="message"
            required>
        </textarea>
    </div>

    <button 
        type="submit"
        class="btn" 
        [disabled]="contactForm.invalid">
        Send!
</button>
</form>
</div>
</body>
<app-footer></app-footer>
</html>