.container {
    margin-top: 2%;
    width:90%;
    height: auto;
    margin-left: 5%;
    text-align: center;
    border-radius:33px;
    background-color: #E1E7ED;

    #chess-container {
        width:100%;
    }
}