@mixin accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 100%;
  border: 1px solid #000000;
  text-align: left;
  outline: none;
  transition: 0.4s;
  font-size: 1.3rem;
  padding: 18px;

  ul {
    margin-bottom: 0px;
  }

  &:hover {
    background-color: #ccc;
  }
}
.chess {
  height: 35rem;
  iframe {
    min-width: 100%;
    min-height: 100%;
    overflow: visible;
  }
}

#instructions-header h3 {
  font-style: bold;
  font-size: 3vw; // //262.5% // 3vw
  line-height: 250%;
}
#instructions-paragraph {
  align-items: left;
  font-style: normal;
  font-size: 1.4vw; // 137.5%
  line-height: 117.1%;
  margin-left: 2.5%;
  overflow: hidden;
}

///////////////// Accordion /////////////////
/* Style the buttons that are used to open and close the accordion panel */

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion-expand {
  @include accordion();
  font-weight: 700;
}

.accordion-sub {
  @include accordion();
  padding: 10px 18px;
  font-weight: 400;
  display: block;
}
col {
  margin-top: 1rem;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  display: none;
  overflow: hidden;
}
.panel::-webkit-scrollbar {
  display: none;
}

@media (max-width: 375) {
  .chess {
    height: 10rem;
  }
}
