<html>
    <header>
        <app-header></app-header>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    </header>

    <body>
        <!-- start of welcome container  -->
        <div id="welcome-container">
            <div id="welcome-header">
                <h3> Welcome Robert </h3>
                <h4> Not Robert? &#9658;</h4>
            </div>
            <div id="welcome-statement">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing 
                    elit. Eligendi enim incidunt excepturi assumenda quod
                    accusantium inventore, dignissimos ad, cumque labore, 
                    perspiciatis at architecto quisquam delectus. Rerum 
                    aspernatur ea accusamus officiis!
                </p>
            </div>
        </div>
        <!-- end of welcome container -->
    </body>

    <footer>
        <app-footer></app-footer>
    </footer>
</html>
