body {
  padding-top: 2%; //50px
}

//clears floats once they are no longer needed
#clear {
  clear: both;
}

video {
  max-width: 100%;
  border: 1px solid;
}

.btn {
  display: block;
  margin-top: 20px;
}

.hidden {
  display: none;
}

.bigCont {
  // border-radius: 33px;
  // margin: 10px;"");
  background-image: url('../../../assets/images/student/bg-image.jpg');
  background-size: cover;
}



#welcome-container {
  width: 45%;
  height: auto;
  margin-left: 5%;

  #welcome-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    h3 {
      font-family: "Lato";
      font-style: normal;
      font-weight: 900;
      font-size: 2.15vw; //33px
      line-height: 117.1%;
      text-align: center;
      letter-spacing: 0.01em;
      color: #3a7cca;
    }

    h4 {
      margin-top: 1.5%;
      margin-left: 7%;
      font-family: "Lato";
      font-size: 1.4vw; //22px
      line-height: 117.1%;
      text-align: center;
      letter-spacing: 0.01em;
      color: #ff8503;
    }
  }

  

  #welcome-statement {
    p {
      font-family: "Roboto";
      font-style: normal;
      font-weight: normal;
      font-size: 1.55vw; //24px
      line-height: 125.1%;
      letter-spacing: 0.02em;
      color: #4f4f4f;
    }
  }
}

#mentor-container {
  //margin-top: 5%;
  width: 90%;
  height: auto;
  margin-left: 5%;
  border-radius: 33px;
  // background-image: url('../../../assets/images/student/bg-image.jpg');
  //background-color: #E1E7ED;

  #top {
    display: flex;
    justify-content: flex-end;
    padding-top: 2%;
    padding-bottom: 2%;

    .turn-indicator {
      width: 28px;
      height: 28px;
      margin-right: 1%;
      border-radius: 100%;
      background-color: #fff;
    }

    //will change in future to which
    //players turn it is
    .turn-indicator:hover {
      background-color: #4f4f4f;
    }

    p {
      margin-right: 3%;
      font-family: "Lato";
      font-size: 1.4vw; //2px
      line-height: 142.1%;
      letter-spacing: 0.01em;
      color: #000000;
    }

    button {
      outline-style: none;
      margin-right: 3%;
      padding-right: 2%;
      padding-left: 2%;
      border-radius: 33px;
      font-family: "Lato";
      font-size: 1.4vw;
      line-height: 117.1%;
      letter-spacing: 0.01em;
      color: #fff;
      background-color: #3a7cca;
    }

    button:hover {
      background-color: #fff;
      color: #3a7cca;
    }
  }

  #lichess-board {
    overflow: hidden;
    iframe {
      overflow: hidden;
      border: 0;
      width: 100%;
      height: 80vh; //80vh
    }
  }

  #bottom {
    padding-top: 2%;
    padding-bottom: 2%;

    #flip-board {
      outline-style: none;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 3%;
      padding-right: 3%;
      border-radius: 6px;
      font-family: "Lato";
      font-weight: 900;
      font-size: 18px; //22px
      line-height: 117.1%;
      letter-spacing: 0.01em;
      color: white;
      margin: 10px;
      width:200px;
      border:none;
      background-color: #0046fd;
      box-shadow: 3px 4px #ead94c;
    

      //push new game button away
    }

    // #flip-board:hover {
    //   color: #f2c94c;
    //   background-color: #000;
    // }

    #new-game {
      outline-style: none;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 2%;
      padding-right: 2%;
      font-family: "Lato";
      font-weight: 900;
      font-size: 18px; //22px
      line-height: 117.1%;
      letter-spacing: 0.01em;
      border-radius: 6px;
      margin: 10px;
      color: #fff;
      width:200px;
      border:none;
      background-color: #0046fd;
      box-shadow: 3px 4px #ead94c;

      //push lesson prep button away
    }
    #undo-move {
      outline-style: none;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 2%;
      padding-right: 2%;
      font-family: "Lato";
      font-weight: 900;
      font-size: 18px; //22px
      line-height: 117.1%;
      letter-spacing: 0.01em;
      margin: 10px;
      border-radius: 6px;
      width:200px;
      border:none;
      background-color: #0046fd;
      box-shadow: 3px 4px #ead94c;
      color: #fff;
      //push lesson prep button away
    }

    // #new-game:hover {
    //   color: #ff8503;
    //   background-color: #fff;
    // }

    #lesson-prep {
      outline-style: none;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 3.5%;
      padding-right: 3.5%;
      font-family: "Lato";
      font-style: normal;
      font-weight: 900;
      font-size: 18px; //22px
      line-height: 117.1%;
      letter-spacing: 0.01em;
      border-radius: 6px;
      margin: 10px;
      color: #fff;
      width:200px;
      border:none;
      background-color: #0046fd;
      box-shadow: 3px 4px #ead94c;
      width:265px;
    }

    #lesson-prep:hover {
      background-color: #0046fd;
      color: #fff;
    }
  }
}

#lesson-prep {
  justify-content: center;
  margin: -28px;
  padding-left: 48px;
}
.game_wrapper {
  display: flex;
  justify-content: space-around;
  .chess {
    width: 100%;
    display: flex;
    justify-content: center;

    iframe {
      min-width: 700px;
      min-height: 700px;
    }
  }
}
.steps-div span {
  font-weight: 500;
  font-size: xx-large;
}



.fwd-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}
.fwd-btns img {
  height: 25px;
}
.isBlur {
  opacity: 50%;
  pointer-events: none;
}
.display-step {
  // display: block;
  // height: 20rem;
  // overflow: hidden scroll;
  // cursor: pointer;
  // background-color: lightgray;
  // padding: 7%;
  // width: fit-content;

  display: block;
  height: 41rem;
  overflow: hidden scroll;
  cursor: pointer;
  margin-left: 25px;
  // background-color: lightgray;
  border:4px solid #257d96;
  padding: 7%;
  width: fit-content;
  background-image: url('../../../assets/images/student/STEMy_Mascot.png');
  background-size: auto; 
  background-color: white;
  background-repeat: no-repeat;
  background-position: bottom;
}

.steps-decoration{
  margin-top: 2px;
  width: 80px;
  background-color: black;
}

.table-moves {
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
}
.table-moves div p {
  border: 2px solid black;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-step::-webkit-scrollbar {
  display: none;
}
.tableMove-selected {
  background-color: white !important;
}
.imgRes {
  height: 30px !important;
  width: 30px !important;
  margin: 0px 0px 8px;
  padding: 3.2px;
}
.movesAhead {
  position: relative;
  margin-left: 175px;
  margin-top: 1px;
  text-align: center;
}
.gameclass {
  display: flex;
  justify-content: space-between;
  // background-image: url('../../../assets/images/student/bg-image.jpg');
}
.mentor-bg{
  background-image: url('../../../assets/images/student/bg-image.jpg');
  background-size: cover;
}

.playwithcomputer {
  display: flex;
  justify-content: center;
}
.undomove {
  display: flex;
}
.outer-filp-board {
  // max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer-new-game {
  max-width: 700px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4%;
}
