<html>


<header>
  <app-header></app-header>
  <!-- <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    /> -->
</header>

<body>
  <div class="mentor-bg">
    <div id="mentor-container">
      <div id="top"></div>
      <div class="gameclass">
        <div [ngClass]="{ 'disable-board': !isStepLast }">
          <app-play></app-play>
        </div>
        <div *ngIf="displayMoves.length > 0" class="steps-stud-div">
          <div class="steps-div">
            <div class="display-step">
              <div class="text-center">
                <span>Steps</span>
                <hr class="steps-decoration">
              </div>
              <div class="table-moves" #item (scroll)="scrolled($event)" #scrollframe>
                <div style="width: 100px">
                  <div *ngFor="let item of displayMoves; let i = index" (click)="setMove(i,'direct')"
                    style=" background-color: #b5d6e1;">
                    <p *ngIf="i % 2 === 0" [class.tableMove-selected]="i == currentStep">
                      <img [src]="imgPos(i)" alt="" class="imgRes" /> {{ item.pos }}
                    </p>
                  </div>
                </div>
                <div style="width: 100px">
                  <div *ngFor="let item of displayMoves; let i = index" (click)="setMove(i,'direct')"
                    style=" background-color: #b5d6e1;">
                    <p *ngIf="i % 2 !== 0" [class.tableMove-selected]="i == currentStep">
                      <img [src]="imgPos(i)" alt="" class="imgRes" />{{ item.pos }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="bottom">
        <div class="outer-filp-board">
          <button type="button" class="botm-btn" id="flip-board" (click)="flipBoard()">
            Flip Board
          </button>
          <button type="button" class="botm-btn" id="new-game" (click)="CheckGame()">
            New Game
          </button>
          <button type="button" class="botm-btn" id="undo-move" (click)="undoPrevMove()">
            Undo
          </button>
          <button type="button" class="botm-btn" id="lesson-prep" (click)="playWithComputer()">
            Play With Computer
          </button>
        </div>
      </div>
      <div class="movesAhead">
        <p id="tag" class="pb-3">
          The computer will think
          <input type="number" min="1" step="1" max="30" value="5" id="movesAhead" (keypress)="numberOnly($event)" />
          moves ahead.
        </p>
      </div>
    </div>
  </div>
</body>
<footer>
  <app-footer></app-footer>
</footer>

</html>