<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YStemandChess</title>
  <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<header>
  <app-header></app-header>
</header>

<body>


  <!-- <div class="container6">
        <p>As of Fall 2023, we have 20 classes running, 
            seeing about 120 students weekly in 5 different states</p>
        <p>Reached over 1000 students in five states and two countries</p>
        <p>9 State Champions (6 of them are girls)</p>
        <p>2 National qualifiers, both are girls</p>
        <p>40 state qualifiers (60% are girls)</p>
        
    </div> -->

  <div class="container">
    <div>
      <h1 class="first-head">Y Stem and Chess Inc. is a nonprofit</h1>
      <p class="first-text"> Our mission is to Empower underserved and at-risk communities with an
        opportunity to pursue STEM careers and change their life trajectories. We are teaching underserved children and
        adults chess, math, computer science, and cybersecurity to empower them to pursue STEM majors/professions with
        the support of professionals.</p>

    </div>

    <div class="first-pic">
      <img src="../../../assets/images/aboutUs/about-us.png">
    </div>
  </div>
  <img class="divider mb-5" src="../../../assets/images/homePage/divider.png" alt="">








  <!-- <div class="container3">
    <img class="info" src="../../../assets/images/beAMentor/difference.PNG">
  </div> -->

  <!-- <div class="container4">
    <iframe width="100%" height="700" src="https://www.youtube.com/embed/SBr0bGgddIc"></iframe>
  </div> -->

  <div class="we-offer-section">
    <h4 class="text-center">We Offer</h4>
    <table class="offer-table border">
      <tr>
        <td>Math Tutoring</td>
        <td>Chess</td>
        <td>Python</td>
      </tr>
      <tr>
        <td>Mentoring</td>
        <td>Personal <br>Development</td>
        <td>Linux</td>
      </tr>
      <tr>
        <td>Study Habits</td>
        <td>Careers in Computer <br>Science and STEM</td>
        <td>Java</td>
      </tr>
    </table>
  </div>

  <div class="text-center mb-4">
    <h5>Budgeting, Finances, And More...</h5>
  </div>


  <div class="rectdiv2">
    <h4 class="text-center mb-4">Current Status </h4>
    <div class="row">
      <div class="col-6">
        <ul class="pl-4">
          <li class="recttext">
            <!-- <img src="../../../assets/images/aboutUs/divide icon.png"> -->
            We are teaching in-person and remote classes.
          </li>
          <li class="recttext">
            <!-- <img src="../../../assets/images/aboutUs/divide icon.png"> -->
            As of Fall 2021, we have 20 classes running, seeing about 120 students weekly in 5 different
            states.
          </li>
          <li class="recttext">
            <!-- <img src="../../../assets/images/aboutUs/divide icon.png"> -->
            Reached over 1200 students in seven states and two countries
          </li>
          <li class="recttext">
            <!-- <img src="../../../assets/images/aboutUs/divide icon.png"> -->
            Massive increases in test scores included a %1 in several states
          </li>
          <li class="recttext">
            <!-- <img src="../../../assets/images/aboutUs/divide icon.png"> -->
            Three students studying computer science (13,11, 8 respectively)
          </li>
          <li class="recttext">
            <!-- <img src="../../../assets/images/aboutUs/divide icon.png"> -->
            Developed a broad support base with local politicians, Dept of Labor, local tech companies,
            the YMCA, Rescue mission, and other for-profit/nonprofit organizations.
          </li>
          <li class="recttext">
            <!-- <img src="../../../assets/images/aboutUs/divide icon.png"> -->
            We support Boise Rescue Missions, Boys and Girls Club, Boise District Community schools,
            Neighborworks, and
            Ventive LLC.
          </li>
        </ul>



        <!-- </div> -->
      </div>
      <div class="col-6">
        <div class="d-flex p-relative ml-5" style="position: relative; ">
          <span class="red">
            <span class="title-num mt-5">40</span><br>
            <span>State Qualifiers (60% girls)</span>
          </span>
          <span class="yellow">
            <span class="title-num">9</span> <br>
            <span>State Champions (6 girls)</span>
          </span><span class="orange">
            <span class="title-num">2</span><br>
            <span>National Qualifiers (both girls)</span>
          </span>
        </div>
      </div>
    </div>


  </div>

  <div class="text6 txt-p">
    <p> There are decades of research demonstrating that tutoring in Math, Chess, and Computer Science helps students
      succeed in the short and long term. For example, the University of Chicago Urban Education Lab conducted a study
      (SAGA Innovations) with 106 “underserved” students. It showed that providing rigorous individualized
      High-Intensity Math Tutoring closed the 3-year learning gap from 6 months to 1 year.

    </p>
  </div>

  <div class="text6 txt-p">
    <p> Chess has been known for centuries to have many benefits and is a vital tool for (a) instilling creativity, (b)
      improving memory, (c) developing problem-solving skills, (d) increasing reading scores, (e) increasing the ability
      to concentrate, (f) improves reading scores, (g) stimulates dendrites growth, and (h) teaches planning and
      foresight. Finally, it helps raise math skills which will be beneficial in the second level of the curriculum,
      Math tutoring, and advanced courses of calculus and beyond.

    </p>
  </div>

  <div class="text-center">
    <img class="student-img" src="../../../assets/images/aboutUs/student.png">
  </div>

  <div class="text6 txt-p">
    <p> The final component of our program in Computer Science can be a career goal.  Our approach to Computer Science
      follows the methodology of Code.org. It is a leading non-profit in this service sector, reaching over 10,000
      teachers and 20 million students. Creating step-by-step Computer Science instructions helps students learn
      computational thinking (CT). The increased level of “abstraction” is needed for generalizing solutions to other
      situations.

    </p>
  </div>
  <div class="text6 txt-p">
    <p> Combining the other elements of the YSC program with those of Code.Org’s proven record provides high-level
      confidence regarding success, given support. AP Computer Science is the fastest-growing AP this decade, but only
      59 students took the AP Computer Science Exam in Idaho last year. Only 24% of those who took the exam were female,
      2 Hispanic, and 2 African American. That leaves a huge potential for future developers that YSC can help prepare
      for a STEM career. Idaho parents overwhelmingly want their children to learn code, but only 40% of schools offer
      the subject in Idaho. More importantly, students want to code, and 54% love the class when it’s available. 

    </p>
  </div>

  <div class="text6 txt-p">
    <p> In conclusion, our goal is to help students realize their hidden STEM potential and provide them with the
      resources to accomplish their dreams. YSC is dedicated to providing schools with an after-school program that will
      act as a math-to-Computer Science class for free to any school wishing to allow students to participate. The goal
      is to graduate with critical thinking, a strong math foundation, the soft skills to succeed in the workplace, and
      technical skills in Computer Science like Python, Java, and Linux.

    </p>
  </div>






  <!-- <div class="container5">
    <div class="border">
      <div class="content">
        <img class="group47" src="../../../assets/images/homePage/Group 47.png">
        <p class="text1">Chess strategy / Math skill/ Computer language concepts /</p>
        <div class="text2">
          <p>Mentoring /Advanced Learning Skills / Career Paths Preperation </p>
        </div>
        <p class="text3">/ all sessions access </p>
        <div class="joinnow">
          <img src="../../../assets/images/homePage/Join Now.png">
        </div>
      </div>
    </div>
  </div> -->

  <footer style="padding-top:130px">
    <app-footer></app-footer>
  </footer>


</body>

</html>