<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="financials-hifi.component.css">
</head>
<header>
    <app-header></app-header>
   
</header>

<body>
    
    <h1 class="board-heading">Finance</h1>
    <div class="chess-image">
        <img src="../../../assets/images/financials/divider.png" alt="Chess Image" class="divider-image">
    </div>
    <table class="my-table">
        <tr>
            <td class="my-table-cell"><a href="2019.pdf"><img src="../../../assets/images/financials/2019.png" width=90%></a></td>
            <td class="my-table-cell"><a href="2020.pdf"><img src="../../../assets/images/financials/2020.png" width=90%></a></td>
        </tr>
        <tr>
            <td class="my-table-cell"><a href="2021.pdf"><img src="../../../assets/images/financials/2021.png" width=90%></a></td>
            <td class="my-table-cell"><a href="2022.pdf"><img src="../../../assets/images/financials/2022.png" width=90%></a></td>
        </tr>

    </table>
    <footer class="footer" style="padding-top:12rem">
        <app-footer></app-footer>
     </footer>
   
</body>


</html>