<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="board-hifi.component.css">
</head>
<header>
    <app-header></app-header>
</header>
<body>
    <div class="container">
        <h1 class="">Board</h1>
        <div class = "chess-image">
            <img src="../../../assets/images/financials/divider.png" alt="Chess Image" class="divider">
        </div>
        <div class="mt-5">
            <h2 class="sub-heading">Officers</h2>
              <li><span class="name font-weight-bold">Devin Nakano</span><br><span class="role">Founder, President and Executive Director</span></li>
              <li><span class="name font-weight-bold">Jasmine Redlich </span><br><span class="role">Vice President</span></li>
              <li><span class="name font-weight-bold">Owen Oertell</span><br><span class="role">Secretary</span></li>
              <li><span class="name font-weight-bold">Kelsey Korvela</span><br><span class="role">Treasurer</span></li>
            <br>
            <h2 class="sub-heading">Board Members</h2>
              <li><span class="name font-weight-bold">Amit Jain, Phd</span><br><span class="role">Chair of the Computer Science Boise State University</span></li>
              <li><span class="name font-weight-bold">Sasikanth R. </span><br><span class="role">International Board Member and Entrepreneur</span></li>
              <li><span class="name font-weight-bold">Holly Trainer</span><br><span class="role">Retired Public School teacher.</span></li>
          </div>
    </div>
     

    <footer class="footer" >
       <app-footer></app-footer>
    </footer>   
</body>
</html>
