<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="board-hifi.component.css">
</head>
<header>
    <app-header></app-header>
</header>
<body>
    
    <h1 class="board-heading">Board</h1>
    <div class = "chess-image">
        <img src="../../../assets/images/financials/divider.png" alt="Chess Image" class="divider-image">
    </div>
    <div class="board-container">
        <h2 class="sub-heading">Officers</h2>
          <li><span class="name bold-name">Devin Nakano</span><br><span class="role">Founder, President and Executive Director</span></li>
          <li><span class="name bold-name">Jasmine Redlich </span><br><span class="role">Vice President</span></li>
          <li><span class="name bold-name">Owen Oertell</span><br><span class="role">Secretary</span></li>
          <li><span class="name bold-name">Kelsey Korvela</span><br><span class="role">Treasurer</span></li>
        <br>
        <h2 class="sub-heading">Board Members</h2>
          <li><span class="name bold-name">Amit Jain, Phd</span><br><span class="role">Chair of the Computer Science Boise State University</span></li>
          <li><span class="name bold-name">Sasikanth R. </span><br><span class="role">International Board Member and Entrepreneur</span></li>
          <li><span class="name bold-name">Holly Trainer</span><br><span class="role">Retired Public School teacher.</span></li>
      </div>     

    <footer class="footer" style="padding-top: 7rem">
       <app-footer></app-footer>
    </footer>   
</body>
</html>
