<html>
  <head>
  </head>

  <header>
    <app-header></app-header>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
  </header>

  <body>
    <div id="notice">
      <h1>Recordings here</h1>
      <h2>
        Note: we recommend using
        <a href="https://www.videolan.org/vlc/index.html">VLC</a> media players
        to watch the recordings.
      </h2>
      <h2>Recordings will have to be downloaded again after seven days.</h2>
    </div>
    <div id="recordings">
      <h2>{{ studentName }} Recordings</h2>
      <div *ngFor="let record of recordings | keyvalue">
        <h1>{{ record.key }}</h1>
        <div *ngFor="let myRecords of record.value">
          <a (click)="verify(myRecords)"
            ><h5>{{ myRecords }}</h5></a
          >
        </div>
      </div>
    </div>
  </body>

  <footer>
    <app-footer></app-footer>
  </footer>
</html>
