<html>

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KJ979C9');
    </script>
    <!-- End Google Tag Manager -->
</head>

<header>
    <app-header></app-header>
</header>

<body>
    <div id="main-wrap">
        <div class="username_header username"> 
            <h1 class="user-link online">
                <span class="online user-link"> 🟢 username</span>
                <!-- Need to create a toggle for active/inactive -->
            </h1>
        </div>
        <div class="user-social">
            <div classs="number-menu">
                <a class="number-menu-item"><strong>0</strong><br>followers</a>
                <br>
                <a class="number-menu-item"><strong>0</strong><br>filler</a>
                <br>
                <a class="number-menu-item"><strong>0</strong><br>filler</a>
                
            </div>
        </div>
        <div class="profile-info">
            User profile Border
            <div>Rating History
                <div>
                    ELO RATING CHART
                </div>
            </div>

            <div>
                profile side
                <div>User Info</div>
            </div>
        </div>
        <div class="activity">
            Activity Border
            <div>
                Activity and Game Tab
            </div>
            <div>
                Activity and Game Progress
            </div>
        </div>
    </div>
    
</body>

<footer>
    <app-footer></app-footer>
</footer>

</html>