<html>

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KJ979C9');
    </script>
    <!-- End Google Tag Manager -->
</head>

<header>
    <app-header></app-header>
</header>

<body>
    <div id="main-wrap">
        <div class="username-header"> 
            <h1 class="username">
                Username
            </h1>
        </div>
        <div class="profile-info-container">
            <div class="profile-info">
                <div class=profile-info-item>
                    <div class="profile-info-item-label">Joined</div>
                    <div class="profile-info-item-value">1/1/2011</div>
                </div>
                <div class=profile-info-item>
                    <div class="profile-info-item-label">Online</div>
                    <div class="profile-info-item-value">Just Now</div>
                </div>
                <div class=profile-info-item>
                    <div class="profile-info-item-label">Lessons Completed</div>
                    <div class="profile-info-item-value">5</div>
                </div>
            </div>
        </div>
        <div class="chart-info-container">
            <div class="chart-rating-history">
                <canvas id="elo-chart"></canvas>
            </div>
        </div>
        <div class="activity-container">
            <ul class="activity-game-tab-container">
                <li [ngClass]="{'active' : activeTab == 'activity'}" class="activity-tab">
                    <a [routerLink]="" (click)="onTabClick('activity')">Activity Tab</a>
                </li>
                <li [ngClass]="{'active' : activeTab == 'game'}" class="game-tab">
                    <a [routerLink]="" (click)="onTabClick('game')" [routerLink]="">Game Tab</a>
                </li>
                <li [ngClass]="{'active' : activeTab == 'lesson'}" class="lesson-tab">
                    <a [routerLink]="" (click)="onTabClick('lesson')" [routerLink]="">Lesson Tab</a>
                </li>
            </ul>
            <div class="activity-list-container">
                <div *ngIf="activeTab == 'activity'" class="activity">                
                    Activity
                    <h5>March 22, 2021</h5>
                    <p>Played 1 game</p>
                </div>
                <div *ngIf="activeTab == 'game'" class="game">
                    List of Games
                </div>
                <div *ngIf="activeTab == 'lesson'" class="lesson">
                    List of Lessons
                </div>
            </div>
        </div>
        
    </div>
    
</body>

<footer>
    <app-footer></app-footer>
</footer>

</html>