$background-color: #d4d3d1;

#main-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1%;
    width: 1000px;
}


*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


div {
    display: block;
}

body {
    --site-header-height: 40px;
    --site-header-margin: 0px;
    --main-margin: 0;
    display: flex;
    justify-content: center;
}

///User name profile

.username_header {
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
    background: #d4d3d1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem .2rem 1.5rem;
}

.username_header h1{
    font-size: 2rem;
}

.user-link {
    color: #4d4d4d;
}



//profile info
.profile-info-container {
    background: #d4d3d1;
}

.profile-info {
    display: flex;
    flex-direction: row;
    .profile-info-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: .7rem;
        .profile-info-item-value {
            font-size: .9rem;
        }
        .profile-info-item-label {
            font-size: .8rem;
            font-weight: bold;
        }
    }
}


//CHART 
.chart-info {
    border: 5px solid green;
    border-top: 1px solid white;
    background:  #d4d3d1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.rating-history {
    flex: 1 1 58%;
    height: 350px;
    background: orange;
}

.activity {
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
    border: 5px solid yellow;
}