$background-color: #d4d3d1;

#main-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1%;
    width: 1000px;
}


*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


div {
    display: block;
}

body {
    --site-header-height: 40px;
    --site-header-margin: 0px;
    --main-margin: 0;
    display: flex;
    justify-content: center;
}

///User name profile

.username-header {
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
    background: #d4d3d1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem .2rem 1.5rem;
}

.username_header h1{
    font-size: 2rem;
}

.user-link {
    color: #4d4d4d;
}



//profile info
.profile-info-container {
    background: #d4d3d1;
}

.profile-info {
    display: flex;
    flex-direction: row;
    .profile-info-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: .7rem;
        .profile-info-item-value {
            font-size: .9rem;
        }
        .profile-info-item-label {
            font-size: .8rem;
            font-weight: bold;
        }
    }
}


//CHART 
.chart-info-container {
    
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background:  #d4d3d1;
    display: flex;
    
    align-items: center;
}

.chart-rating-history {
    flex: 1 1 58%;
    height: 350px;
    text-align: center;
}


.activity-container {
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
    border-top: 1px solid white;
    font-size: 1.2em;
    height: 200px;

    background: #d4d3d1;
    display: flex;
    flex-direction: column;
    .activity-game-tab-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 20%;
        .activity-tab{
            background: #d4d3d1;
            border: .1px solid grey;
            width: 50%;
            justify-content: center;
            text-align: center;
        }
        .game-tab{
            background: #d4d3d1;
            border: .1px solid grey;
            width: 50%;
            justify-content: center;
            text-align: center;
        }
    }
    .activity-list-container{
        padding: .5rem;
        height: 90%;
        border-bottom-left-radius: 33px;
        border-bottom-right-radius: 33px;
        
    }
}