<html>
    <header>
        <app-header></app-header>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    </header>
    <body>
        <!-- start of difference container -->
        <div id="difference-container">
            <div id="difference-image">
                <img src="../../../assets/images/beAMentor/michal-parzuchowski-6D1lESi9ssU-unsplash.png" alt="Child playing chess">
            </div>
            <div id="difference-header">
                <h4>Are you interested in making a difference?</h4>
            </div>
            <div id="difference-statement">
                <p>
                    Y STEM and Chess Inc. (YSC) is focused on resolving two 
                    current social problems, by providing a unique 21st 
                    Century methodology to learning called “Mastery.” The 
                    first focus is on our society’s unfulfilled need for students
                    with a firm learning foundation to pursue a life in the world 
                    of STEM. The second and the primary focus of YSC is 
                    fulfilling those needs, by working with the children of our 
                    socially and economically underserved population, to 
                    introduce and engage them in the world of STEM. The goal 
                    is to provide students from this group the skills, 
                    knowledge, and opportunity to enter these career paths 
                    and assist in solving the critical shortage of STEM-skilled
                    citizens.
                </p>
            </div>
            <div id="difference-toApply">
                <h5>To apply to become a mentor, please fill out this google
                    form.</h5>
            </div>
            <div id="difference-button">
                <button type=button routerLink="noneYet">Apply now &#9658;</button>
            </div>
        </div>
        <!-- end of difference container -->
        <div id="clear"></div>
    </body>

    <app-footer></app-footer>
</html>
