<html>
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KJ979C9');
        </script>
        <!-- End Google Tag Manager -->
    </head>

    <header>
        <app-header></app-header>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    </header>

    <body>
         <!-- Google Tag Manager (noscript) -->
         <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KJ979C9"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <!-- start of difference container -->
        <div id="difference-container">
            <div id="difference-image">
                <img src="../../../assets/images/beAMentor/michal-parzuchowski-6D1lESi9ssU-unsplash.png" alt="Child playing chess">
            </div>
            <div id="difference-header">
                <h4>Are you interested in making a difference? The impact of one mentor or teacher is <span id="infinite">infinite</span></h4>
            </div>
            <div id="difference-statement">
                <p>
                    Y STEM and Chess Inc. (YSC) is focused on the goal to provide students
                    from underserved groups the skills, knowledge, and opportunity to enter 
                    these career paths and assist in solving the critical shortage of STEM-skilled citizens.
                </p>
            </div>
            <div id="difference-toApply">
                <h5>To apply to become a mentor, please fill out this google
                    form.</h5>
            </div>
            <div id="difference-button">
                <a href="https://docs.google.com/forms/d/1w00tPRq3ys_tfQc9f-2DYinGws-_507_oaI2C2uGKKs/viewform?edit_requested=true#response=ACYDBNj_RW9mlzfKqb5YvSEmN3RkjPlsEuhVFZ7cDqw_tF3qTQmdE-PC3XxEZA">
                    <button type=button >Apply now &#9658;</button>
                </a>
            </div>
        </div>
        <!-- end of difference container -->
        <div id="clear"></div>
        <!-- start of locations container -->
        <div id="locations-container">
            <div id="locations-image">
                <img src="../../../assets/images/beAMentor/michal-vrba-s6iBsqpqaME-unsplash.png">
            </div>
            <div id="locations-header">
                <h3>Locations</h3>
            </div>
            <div id="locations-statement">
                <p>
                    Our focus is on schools and communities with a large percentage of 
                    students qualifying for free or reduced-cost lunch programs or that focus 
                    on the at-risk student populations. They are the outliers of our traditional 
                    education system both socially and economically. Students of this group are often 
                    rebellious, not because they are unable to learn. They simply respond to different 
                    learning approaches. 
                    <br>
                    We offer the ability to mentor in person and remotely!
                </p>
            </div>
        </div>
        <!-- end of locations container -->
        <div id="clear"></div>
        <div id="become-mentor-container">
            <div id="become-mentor-image">
                <img src="../../../assets/images/beAMentor/STEMy_Mascot.png" alt="Stemy Mascot">
            </div>
            <div id="become-mentor-header">
                <h3>Become a mentor</h3>
            </div>
            <div id="become-mentor-statement">
                <p>
                    Our focus is on schools with a large percentage of students 
                    qualifying for free or reduced-cost lunch programs or that focus on 
                    the “at risk” student population. They are the “outliers” of our 
                    traditional education system both socially and economically.
                    Students of this group are often rebellious, not because they are 
                    unable to learn but they respond to different learning approaches. 
                    The schools understand this, and it's why they are looking for 
                    alternative solutions to fulfill their “at risk” student needs.
                </p>
            </div>
            <div id="become-mentor-button">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSc-mOf9A0mgBeCjb38oWj-CVY8pdazhCw1mAo4DVjvOmEMlCg/viewform">
                    <button type=button >Apply now &#9658;</button>
                </a>
            </div>
        </div>
    </body>

    <footer>
        <app-footer></app-footer>
    </footer>
</html>
