html {
    background-color: #E5E5E5;
}
body {
    padding-bottom:11.2656%;
    background-color: #E5E5E5; 
}

#clear {
    clear:both;
}

#difference-container {
    position:relative;
    margin:0 auto;
    margin-top:5%;
    width: 92.5%;
    height: auto; //768 px
    overflow: hidden;
    background-color: #fdd005;
    border-radius: 33px;
    box-sizing: border-box;

    #difference-image img {
        float:left;
        overflow: hidden;
        width:42.45%;
        height:auto;
        box-sizing: border-box;
        border-bottom-left-radius: 33px;
        border-top-left-radius: 33px;
    }

    #difference-header h4 {
        float:right;
        overflow:hidden;
        margin-top:3%;
        margin-right:23%;
        width:30%;
        height:auto;
        font-family:'Lato';
        font-style:normal;
        font-weight:900;
        font-size:2.9vw; //42px
        line-height:117.1%;
        letter-spacing:0.01em;
        box-sizing: border-box;
    }

    #difference-statement p {
        float:right;
        overflow: hidden;
        width:42%;
        height:auto;
        margin-right:11%;
        //margin-top:2%;
        font-family:'Roboto';
        font-style:normal;
        font-weight:600; //500
        font-size:1.4vw; //22px
        line-height: 130%;
        letter-spacing: 0.02em;
        color:#4f4f4f;
        box-sizing: border-box;
    }

    #difference-toApply h5 {
        float:right;
        overflow: hidden;
        width:40%;
        height:auto;
        margin-right: 13%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 1.4vw;
        line-height: 130%;
        letter-spacing: 0.02em;
        color:#4f4f4f;
        box-sizing: border-box;
    }

    #difference-button button {
        float:right;
        overflow: hidden;
        padding:1.1%; //15px
        margin-right:39%;
        height:auto;
        font-family:'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 1.8vw; //28px
        line-height: 117.1%; //33px
        letter-spacing: 0.01em;
        background-color: #fff;
        color:#3A7CCA;
        border-radius: 33px;
        box-sizing: border-box;
    }

    #difference-button button:hover {
        color:#fff;
        background-color:#3A7CCA ;
    }
}

#locations-container {
    width:92.5%;
    position:relative;
    margin:0 auto;
    margin-top:5%;
    width: 92.5%;
    height: auto; //484 px
    overflow: hidden;
    background-color: #51AA00;
    border-radius: 33px;
    box-sizing: border-box;

    #locations-image img {
        float:right;
        width:50%;
        height:auto;
    }

    #locations-header h3 {
        float:left;
        margin-top:3%;
        margin-left:7%;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 900;
        font-size: 42px; //42px
        line-height: 117.1%; //49 px
        letter-spacing: 0.07em;
        color: #FFFFFF;
    }

    #locations-statement p {
        float:left;
        width:38%;
        margin-top:3%;
        margin-left:7%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 1.4vw; //22px
        line-height: 117.1%; //26px
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }
}

#become-mentor-container {
    position:relative;
    width:92.5%;
    margin:0 auto;
    margin-top:5%;
    width: 92.5%;
    height: auto; //511 px
    overflow: hidden;
    background-color: #ff8503;
    border-radius: 33px;
    box-sizing: border-box;
    
    #become-mentor-image img {
        float:left;
        width:27%;
        height:auto;
        padding-bottom: 5%;
        margin-top:3.7%;
        margin-left:9%;
        border-radius: 100%;
    }

    #become-mentor-header h3 {
        float:right;
        margin-top:3%;
        margin-right:30%;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 900;
        font-size: 3vw; //42px
        line-height: 117.1%; //49px
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }

    #become-mentor-statement p {
        float:right;
        width:48%;
        height:auto;
        margin-top:2%;
        margin-right:8%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 1.4vw; //22px
        line-height: 130%; //29px
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }

    #become-mentor-button button {
        float:right;
        margin-right: 42.3%;
        padding:1%; //15px
        font-family:'Roboto';
        font-style:bold;
        font-weight:bold;
        font-size:1.8vw; //28px
        line-height: 117.1%;
        letter-spacing:0.01em;
        border-radius: 33px;
        color:#3A7CCA;
        background-color: #fff;
    }

    #become-mentor-button button:hover {
        color:#fff;
        background-color: #3A7CCA;
    }
}

//mobile view
@media(max-width: 766px) {
    #difference-container {

        #difference-image {
            margin:0 auto;
        }
    
        #difference-image img {
            width:100%;
            max-height:350px;
            border-top-left-radius: 33px;
            border-top-right-radius: 33px;
            border-bottom-left-radius: 0px;
            
        }
    
        #difference-header {
            margin-left:5%;
        }

        #difference-header h4 {
            margin:0 auto;
            width:90%;
            height:auto;
            margin-left:5%;
            margin-top:3%;
            font-size:7vw; //42px
        }
    
        #difference-statement p {
            margin:0 auto;
            width:90%;
            height:auto;
            margin-top:3%;
            margin-right: 5%;
            font-size:3.1vw; //22px
        }
    
        #difference-toApply h5 {
            margin: 0 auto;
            width:90%;
            height:auto;
            margin-right:5%;
            margin-top:3%;
            font-size: 3.1vw;
        }
    
        #difference-button button {
            padding:4%;
            height:auto;
            margin-right:34%;
            margin-top: 3%;
            margin-bottom:5%;
            font-size: 3.5vw; 
        }
    
        #difference-button button:active {
            color:#fff;
            background-color:#3A7CCA ;
        }
    }
    
    #locations-container {
        
        #location-image {
            margin: 0 auto;
        }

        #locations-image img {
            width:100%;
            height:auto;
        }
    
        #locations-header h3 {
            text-align: center;
            width: 90%;
            height: auto;
            font-size: 7vw;
        }
    
        #locations-statement p {
            text-align: center;
            width:90%;
            margin-bottom:3%;
            font-size: 3.1vw; //22px
        }
    }
    
    #become-mentor-container {

        #become-mentor-image {
            margin: 0 auto;
            text-align: center;
        }
        
        #become-mentor-image img {
            width: 60%;
            margin-left: 21%;
        }
    
        #become-mentor-header h3 {
            margin:0 auto;
            margin-right: 5%;
            width: 90%;
            height: auto;
            text-align: center;
            font-size: 7vw; //42px
        }
    
        #become-mentor-statement p {
            text-align: center;
            width:90%;
            height:auto;
            margin-top:3%;
            font-size: 3.1vw; //22px
        }
    
        #become-mentor-button button {
            padding:4%;
            margin-right:34%;
            margin-top: 3%;
            margin-bottom:5%;
            font-size: 3.5vw; 
        }
    
        #become-mentor-button button:active {
            color:#fff;
            background-color: #3A7CCA;
        }
    }
}