<html>
    <app-header></app-header>

    <body>
        <!-- start of difference container -->
        <div id="difference-container">
            <div id="difference-image">
                <img src="../../../assets/images/beAMentor/michal-parzuchowski-6D1lESi9ssU-unsplash.png" alt="Child playing chess">
            </div>
            <div id="difference-header">
                <h4>Are you interested in making a difference?</h4>
            </div>
            <div id="difference-statement">

            </div>
        </div>
        <!-- end of difference container -->
        <div id="clear"></div>
    </body>

    <app-footer></app-footer>
</html>
