<html>
  <head>
  </head>

  <body>
    <div class="cont">
      <div class="row">
        <div class="lichess">
          <iframe [src]="chessLessonSrc" id="chessBd"></iframe>
        </div>
        <div class="jitsi" id="local_stream">
          <!--<iframe src="https://meet.jit.si/" class="jitsi" frameborder="0" style="position: relative; height: 100%; width: 100%;"></iframe>-->
        </div>
        <div class="jitsi" id="remote_stream">
          <iframe
            src="https://meet.jit.si/"
            class="jitsi"
            frameborder="0"
            style="position: relative; height: 100%; width: 100%"
          ></iframe>
        </div>
      </div>
    </div>
  </body>

  <!-- <footer>
        <app-footer></app-footer>
    </footer> -->
</html>
