<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sponsors.component.css">
</head>
<body>
    
    <h1 class="board-heading">Sponsors & Partners </h1>
    <!-- <div class = "chess-image">
        <img src="divider.png" alt="Chess Image" class="divider-image">
    </div> -->
    <div class="board-container">
        <h2 class="sub-heading" style="margin-top:30px;">Sponsors</h2>

          <img src = "../../../assets/images/student/sponsor_1.png">
          <img src = "../../../assets/images/student/sponsor_2.png">
          <img src = "../../../assets/images/student/sponsor_3.png">
        <br>
        <h2 class="sub-heading">Partners</h2>
        <img src = "../../../assets/images/student/sponsor_4.png">
        <img src = "../../../assets/images/student/sponsor_5.png">
        <img src = "../../../assets/images/student/sponsor_6.png">
        <img src = "../../../assets/images/student/sponsor_7.png">
        <img src = "../../../assets/images/student/sponsor_8.png">

    </div>     

   
</body>
</html>