<html>

<head>
    <!-- <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KJ979C9');
    </script> -->
</head>

<header>
    <app-header></app-header>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
</header>

<body>
    <!-- <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KJ979C9" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript> -->
    <div id="greeting">
        <h1>New Page Title</h1>
    </div>
    <div id="clear"></div>
    <div id="instructions-container">
        <div id="instructions-header">
            <h3>Lesson 1.1</h3>
        </div>
        <div id="clear"></div>
        <div id="instructions-paragraph">
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae reprehenderit saepe vitae perspiciatis
                porro architecto optio. Laudantium, libero officia quisquam non ducimus, facere provident vero aliquam,
                molestiae quos ut maxime.</p>  -->
            </div>
            <!-- <div id="clear"></div> -->
            <!-- <div id="chess-img">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/AAA_SVG_Chessboard_and_chess_pieces_02.svg/1200px-AAA_SVG_Chessboard_and_chess_pieces_02.svg.png">
    </div> -->
            <div id="chess-play">
                <app-play></app-play>
            </div>

       
    </div>
    <div id="chess-container">
        <!-- <div id="chess-img">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/AAA_SVG_Chessboard_and_chess_pieces_02.svg/1200px-AAA_SVG_Chessboard_and_chess_pieces_02.svg.png">
    </div> -->
        <!-- <div id="chess-paragraph">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae reprehenderit saepe vitae perspiciatis porro architecto optio. Laudantium, libero officia quisquam non ducimus, facere provident vero aliquam, molestiae quos ut maxime.</p>
    </div> -->
        <!-- insert chess board -->
    </div>
    <!-- <div id="lessons-menu">
    <h4>Basic mat-select</h4>
<mat-form-field appearance="fill">
  <mat-label>Puzzles</mat-label>
  <mat-select>
    <mat-option *ngFor="let puzzle of puzzles" [value]="puzzle.value">
      {{puzzle.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div> -->
    <div id="clear"></div>

    <div id="score-board-container">
        <div id="score-board-header">
            <h3>Score Board</h3>
        </div>
        <div id="score-board-paragraph">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae reprehenderit saepe vitae perspiciatis
                porro architecto optio. Laudantium, libero officia quisquam non ducimus, facere provident vero aliquam,
                molestiae quos ut maxime.</p>
        </div>
    </div>

    <div id="puzzles-menu-container">
        <div id="puzzles-menu-header">
            <h3>Choose a Puzzle</h3>
        </div>
        <div id="puzzles-menu-paragraph">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae reprehenderit saepe vitae perspiciatis
                porro architecto optio. Laudantium, libero officia quisquam non ducimus, facere provident vero aliquam,
                molestiae quos ut maxime.</p>
        </div>
    </div>

    <div id="clear"></div>
</body>

<footer>
    <app-footer></app-footer>
</footer>

</html>