<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168619402-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-168619402-1');
        </script>
    </head>

    <header>
        <app-header></app-header>
    </header>

    <body>
        <div id="board-editor-container">
            <div id="board"></div>
            <div id="bottom">
                <button type="button" id="flip-board" (click)="flipBoard()"> Flip Board</button>
                <button type="button" id="clear-board" (click)="clearBoard()"> Clear Board</button>    
                <button type="button" id="start-position" (click)="startPosition()"> Start Position</button>                        
            </div>
        </div>

    </body>

    <footer>
        <app-footer></app-footer>
    </footer>
</html>