<html>
  <head> </head>

  <header>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
  </header>

  <body>
    <div class="input-container" *ngIf="!showData; else elseBlock">
      <h4>Enter Your new Password</h4>
      <li>
        <input type="password" placeholder="New Password" id="password" />
      </li>
      <li>
        <input
          type="password"
          placeholder="Confirm New Password"
          id="cpassword"
        />
      </li>
      <h6>{{ confirmError }}</h6>
      <button type="submit" (click)="checkConfirmPassword()">Enter</button>
    </div>
    <ng-template #elseBlock>
      <h4>Password Change Successfully 🎉</h4>
      <a routerLink="/login">Login</a>
    </ng-template>
  </body>

  <footer>
    <app-footer></app-footer>
  </footer>
</html>
