body {
  margin: 0 auto;
  text-align: center;
  padding-top: 35px;
}

body a {
  padding-left: 10px;
}
input {
  outline-style: none;
  margin: 20px;
  padding: 15px 32px;
  font-size: 22px;
  font-family: "Roboto" !important;
  font-weight: 500;
  font-family: normal;
  background-color: white;
  color: black;
  border: 3px solid #d64309;
  border-radius: 8px;
}

.input-container li {
  list-style: none;
}

.input-container input {
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
}

.input-container button {
  outline-style: none;
  padding-left: 2%; //15px
  padding-right: 2%;
  font-family: "Roboto";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  background-color: #fff;
  color: #3a7cca;
  border-radius: 33px;
}

.input-container button:hover {
  background-color: #3a7cca;
  color: #fff;
}
h6 {
  color: #d64309;
}
h4 {
  margin-top: 14rem;
}
