<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="admin.component.css">
</head>
<body>
    <div class="header-container">
        <img src="logo.png" class="header-logo" />
        <div class="header-right-section">
            <div class="header-button">Programs</div>
            <div class="header-button">Mentors</div>
            <div class="header-button">Lesson/Play</div>
            <div class="header-button">Log In</div>
            <img src = "Vector.png"
            width = 10%;
            height = auto;
            style="vertical-align:middle;">
        </div>   
    </div>
    
    <div class="board-container">
        <div class="box">
            <div class="tab-nav">
              <button class="tab-btn active" data-target="#dashboard"><b>Dashboard</b></button>
              <button class="tab-btn" data-target="#search"><b>Search</b></button>
            </div>
            <div class="tab-content active" id="dashboard">
              <p>Dashboard</p>
            </div>
            <div class="tab-content" id="search">
              <p>Search</p>
            </div>
          </div>
        
          <script>
            document.querySelectorAll('.tab-btn').forEach(button => {
              button.addEventListener('click', () => {
                document.querySelectorAll('.tab-btn').forEach(btn => btn.classList.remove('active'));
                document.querySelectorAll('.tab-content').forEach(content => content.classList.remove('active'));
        
                button.classList.add('active');
                document.querySelector(button.getAttribute('data-target')).classList.add('active');
              });
            });
          </script>
         
    </div>     
    
    <footer class="footer">
        <table class = "table">
            <tr>
                <td><b><u>Sponsors</u></b></td>
                <td><b><u>Partners</u></b></td>
                
            </tr>
            <tr>
                <td><img src = "sponsor_1.png"></td>
                <td><img src = "sponsor_4.png"></td>
            </tr>
            <tr>
                <td><img src = "sponsor_2.png"></td>
                <td><img src = "sponsor_5.png"></td>
                <td><img src = "sponsor_7.png"></td>
            </tr>
            <tr>
                <td><img src = "sponsor_3.png"></td>
                <td><img src = "sponsor_6.png"></td>
            </tr>
            
        </table>
        <div class = "contact-info">
            <p>info@ystemandchess.com</p>
            <p>+1 208.996.5071</p>
        </div>
        <div class = "table-two">
            <tr>
                <td><img src = "Twitter.png"></td>
                <td><img src = "Facebook.png"></td>
                <td><img src = "Google.png"></td>
                <td><img src = "Insta.png"></td>
            </tr>
        </div>    
    </footer>   
</body>
</html>




