<html>
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KJ979C9');
        </script>
        <!-- End Google Tag Manager -->
    </head>

    <header>
        <app-header></app-header>
    </header>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KJ979C9"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

        <div class="signupForm">
            <div *ngFor="let student of students(); let i = index" id="newStudent{{i}}">
                <div id="error{{i}}" class="errorMessages">
                    <h3 id="errorFirstName{{i}}"></h3>
                    <h3 id="errorLastName{{i}}"></h3>
                    <h3 id="errorUsername{{i}}"></h3>
                    <h3 id="errorPassword{{i}}"></h3>
                    <h3 id="errorRetype{{i}}"></h3>
                </div>
                <div *ngIf="numNewStudents > 1">
                    <button type="button" id="x" class="x" (click)="removeNewStudent($event, i)">X</button>
                </div>
                <li><input type="text" placeholder="Students first name" id="studentFirstName{{i}}" (blur)="studentFirstNameVerification($event, i)" (blur)="ifValidStudentAccount(i)"></li>
                <li><input type="text" placeholder="Students last name " id="studentLastName{{i}}" (blur)="studentLastNameVerification($event, i)" (blur)="ifValidStudentAccount(i)"></li>
                <li><input type="text" placeholder="Student username" id="studentUsername{{i}}" (blur)="studentUsernameVerification($event, i)" (blur)="ifValidStudentAccount(i)"></li>
                <li><input type="password" placeholder="Student password" id="studentPassword{{i}}" (blur)="studentPasswordVerification($event, i)" (blur)="ifValidStudentAccount(i)"></li>
                <li><input type="password" placeholder="Re-type password" id="studentRetypedPassword{{i}}" (blur)="studentRetypePasswordVerification($event, $event, i)" (blur)="ifValidStudentAccount(i)"></li>
                <button type="button" id="plus{{i}}" class="x" (click)="addNewStudentForm($event, i)">+</button>
            </div>
            <button type="submit" [routerLink]="[link]" (click)="SendToDataBase()">Sign up</button>
        </div>
    </body>

    <footer>
        <app-footer></app-footer>
    </footer>
    
</html>
