<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="mission-hifi.component.css">
</head>
<body>
    <div class="header-container">
        <img src="logo.png" class="header-logo" />
        <div class="header-right-section">
            <div class="header-button">Programs</div>
            <div class="header-button">Mentors</div>
            <div class="header-button">Lesson/Play</div>
            <div class="header-button">Log In</div>
            <img src = "Vector.png"
            width = 10%;
            height = auto;
            style="vertical-align:middle;">
        </div>   
    </div>
    <br>
    <br>
    <div class="board-container">
        <img src="mission-image.png" 
        width = 250px
        height = auto
        style = "float:right"
    >
        <h2 class="sub-heading">Our Mission</h2>
          <p class = "word">Empower underserved and at-risk children with an opportunity to pursue STEM careers and change their life trajectory.</p>
        <br>
        <h2 class="sub-heading">What We Do</h2>
          <p class = "word">We teach children chess, math, and computer science to empower them to pursue STEM majors/professions with the support of professionals.</p>
    </div> 
    <div class = "chess-image">
        <img src="divider.png" alt="Chess Image" class="divider-image">
        <img src = "info 6.png" class = "divider-image"
        width = 70%
        height = auto>
        <video width="800px" height= auto controls>
            <source src="video1.png" type=video/mp4>
        </video>
        <br>
        <br>
        <br>
        <img src = "Donate.png"
        width = 15%
        height = auto >
    </div>
    <div class = "chess-image">
        <img src = "Free Plan.png"
        width = 20%
        height = auto
        style="margin: 5%;"
        >
        <img src= "Premium Plan.png"
        width = 20%
        height = auto
        style="margin: 5%;">
    </div>
    <br>
    <br>
    <footer class="footer">
        <table class = "table">
            <tr>
                <td><b><u>Sponsors</u></b></td>
                <td><b><u>Sponsors</u></b></td>
                
            </tr>
            <tr>
                <td><img src = "sponsor_1.png"></td>
                <td><img src = "sponsor_4.png"></td>
            </tr>
            <tr>
                <td><img src = "sponsor_2.png"></td>
                <td><img src = "sponsor_5.png"></td>
                <td><img src = "sponsor_7.png"></td>
            </tr>
            <tr>
                <td><img src = "sponsor_3.png"></td>
                <td><img src = "sponsor_6.png"></td>
            </tr>
            
        </table>
        <div class = "contact-info">
            <p>info@ystemandchess.com</p>
            <p>+1 208.996.5071</p>
        </div>
        <div class = "table-two">
            <tr>
                <td><img src = "Twitter.png"></td>
                <td><img src = "Facebook.png"></td>
                <td><img src = "Google.png"></td>
                <td><img src = "Insta.png"></td>
            </tr>
        </div>    
    </footer>   
</body>
</html>

  
  
