<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="mission-hifi.component.css">
</head>
<header>
    <app-header></app-header>
   
</header>
<br><br>
<body>
    
   
    <div class="board-container">
        <img src="../../../assets/images/missionHifi/mission-image.png" 
        width = 250px
        height = auto
        style = "float:right"
    >
        <h2 class="sub-heading">Our Mission</h2>
          <p class = "word">Empower underserved and at-risk children with an opportunity to pursue STEM careers and change their life trajectory.</p>
        <br>
        <h2 class="sub-heading">What We Do</h2>
          <p class = "word">We teach children chess, math, and computer science to empower them to pursue STEM majors/professions with the support of professionals.</p>
    </div> 
    <div class = "chess-image">
        <img src="../../../assets/images/missionHifi/divider.png" alt="Chess Image" class="divider-image">
        <img src = "../../../assets/images/missionHifi/info 6.png" class = "divider-image"
        width = 70%
        height = auto>
        <!-- <video width="800px" height= auto controls>
            <source src="../../../assets/images/missionHifi/video1.png" type=video/mp4>
        </video> -->
        <br>
        <br>
        <br>
        <img src = "../../../assets/images/missionHifi/Donate.png"
        width = 15%
        height = auto >
    </div>
    <div class = "chess-image">
        <img src = "../../../assets/images/missionHifi/Free_Plan.png"
        width = 20%
        height = auto
        style="margin: 5%;"
        >
        <img src= "../../../assets/images/missionHifi/Premium_Plan.png"
        width = 20%
        height = auto
        style="margin: 5%;">
    </div>
    <br>
    <br>
    <footer style="margin-top:25rem">
       <app-footer></app-footer>
    </footer>   
</body>
</html>