<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="mission-hifi.component.css">
</head>
<header>
    <app-header></app-header>
   
</header>
<br><br>
<body>
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-12  col-md-7 order-2 text-xs-center">
                <div>
                    <h2 class="first-head mb-5">Our Mission</h2>
                    <p class="first-text mb-5"> Empower underserved and at-risk children with an opportunity to pursue STEM careers and change their life trajectory.</p>
                </div>
                <div>
                    <h2 class="first-head mb-5">What We Do</h2>
                    <p class="first-text mb-5"> We teach children chess, math, and computer science to empower them to pursue STEM majors/professions with the support of professionals.</p>
                </div>
            </div>
            <div class="col-12 col-md-5 order-md-2 first-pic text-center">
              <img src="../../../assets/images/missionHifi/mission-image.png">
            </div>
        </div>
          <img src="../../../assets/images/missionHifi/divider.png" alt="Chess Image" class="divider">
    </div> 
    <div class="container-fluid my-5">
        <img class="info" src="../../../assets/images/missionHifi/info 6.png">
    </div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
              <a href="https://donorbox.org/y-stem-and-chess-inc-learning-platform" class="donate-btn">Donate</a>
            </div>
          </div>
        <div class="row">
            <div class="col-12 col-md-6 mb-5 pr-4">
                <div class="card free-card text-center py-5 px-4 mr-2">
                  <img src="../../../assets/images/homePage/free.svg" class="main-icon mb-2">
                  <h5 class="free-title mb-4">Free</h5>
                  <p class="free-card-text">For students who qualify for free and reduced lunch. Our lessons are free.</p>
                  <a class="free-btn" href="https://forms.gle/wMzMAPZDYFHTppSa7" target="_blank">Join Now</a>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-5 pr-4">
                <div class="card Premium-card text-center py-5 px-4 mr-2">
                  <img src="../../../assets/images/homePage/primium.svg" class="main-icon mb-2">
                  <h5 class="free-title mb-4">Premium</h5>
                  <p class="free-card-text">For students who don't qualify for free and reduced lunch. $25 / week First lesson is FREE. Cancel anytime</p>
                  <a  class="free-btn" href="https://forms.gle/wMzMAPZDYFHTppSa7" target="_blank">Join Now</a>
                </div>
            </div>
        </div>
      </div>
    <!-- <div class="board-container">
        <img src="../../../assets/images/missionHifi/mission-image.png" 
        width = 250px
        height = auto
        style = "float:right"
    >
        <h2 class="sub-heading">Our Mission</h2>
          <p class = "word">Empower underserved and at-risk children with an opportunity to pursue STEM careers and change their life trajectory.</p>
        <br>
        <h2 class="sub-heading">What We Do</h2>
          <p class = "word">We teach children chess, math, and computer science to empower them to pursue STEM majors/professions with the support of professionals.</p>
    </div>  -->
    <footer>
       <app-footer></app-footer>
    </footer>   
</body>
</html>