.container {
    width: 100%;
    margin: 0;
    display:inline-block;

    .jitsi {
        width: 450px;
        height: 360px;
        display: inline-block;
    }
    .lichess {
        height: auto;
        width: 900px;
        display: inline-block;
    }
}