<div class="game_wrapper">
  <div class="chess">

    <div class="stream_wrapper">
      <div class="container">
        <div class="row">
          <div class="  col-lg-3 col-12 col-md-6 order-sm-1 order-1 mt-sm-4 mt-lg-0 order-lg-0 px-4"
            [ngClass]="{'video-student': userRole ==='student', 'video-col': userRole ==='mentor', 'display-none':meetingId === undefined}">
            <div id="draggable">
              <div class="jitsi" id="local_stream"></div>
              <div class="role-username" id="local_streamName" draggable="true">
                <b>{{findStudentname}}</b><br>{{userRole ==="mentor"?"MENTOR":"STUDENT"}}
              </div>
            </div>
            <div id="draggable-remote">
              <div class="jitsi" id="remote_stream"></div>
              <div class="role-studentname" id="remote_streamName"><b>{{findMentorName}}</b><br>{{userRole
                ==="mentor"?"STUDENT":"MENTOR"}}</div>
            </div>
          </div>
          <div class="col-lg-6 col-12 order-lg-1">
            <div class="chessboard" [ngClass]="{ 'disable-board': !isStepLast }">
              <iframe [src]="chessSrc" id="chessBd"></iframe>
            </div>
          </div>
          <div *ngIf="displayMoves.length > 0" class="col-lg-3 col-md-6 col-12 order-2 order-sm-2 mt-sm-4 mt-lg-0">
            <div class="steps-div">

              <div class="display-step">
                <div class="text-center">
                  <span>Steps</span>
                  <hr class="steps-decoration">
                </div>
                <div class="table-moves" #item (scroll)="scrolled($event)" #scrollframe>

                  <div style="width: 100px">
                    <div *ngFor="let item of displayMoves; let i = index" (click)="setMove(i,'direct')"
                      style=" background-color: #b5d6e1;">
                      <p *ngIf="i % 2 === 0" [class.tableMove-selected]="i == currentStep">
                        <img [src]="imgPos(i)" alt="" class="imgRes" /> {{ item.pos }}
                      </p>
                    </div>
                  </div>
                  <div style="width: 100px">
                    <div *ngFor="let item of displayMoves; let i = index" (click)="setMove(i,'direct')"
                      style=" background-color: #b5d6e1;">
                      <p *ngIf="i % 2 !== 0" [class.tableMove-selected]="i == currentStep">
                        <img [src]="imgPos(i)" alt="" class="imgRes" />{{ item.pos }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <iframe src="https://meet.jit.si/" class="jitsi" frameborder="0" style="position: relative; height: 100%; width: 100%;"></iframe>  -->
      <!-- <iframe src="https://meet.jit.si/" class="jitsi" frameborder="0" style="position: relative; height: 100%; width: 100%;"></iframe>  -->

    </div>
  </div>