.board {
    position: relative;
    overflow: hidden;
    scrollbar-width: none;
    width:auto;
    height: auto;
    #chessBd {
        overflow: hidden;
        scrollbar-width: none;
        border: 0;
        min-width: 750px;//900px
        min-height: 700px; //800px
    } 
}

