<div class="game_wrapper">
  <div class="chess">
    <iframe [class.rotated]="rotated" [src]="chessSrc" id="chessBd"></iframe>
  </div>
  <div class="jitsi" id="local_stream">
    <!-- <iframe src="https://meet.jit.si/" class="jitsi" frameborder="0" style="position: relative; height: 100%; width: 100%;"></iframe>  -->
  </div>
  <div class="jitsi" id="remote_stream">
    <!-- <iframe src="https://meet.jit.si/" class="jitsi" frameborder="0" style="position: relative; height: 100%; width: 100%;"></iframe>  -->
  </div>
  <button (click)="undoPrevMove()">Undo</button>
  <button (click)="newGame()">new Game</button>
</div>
