.game_wrapper {

  // display: flex;
  // justify-content: space-around;
  .chess {
    width: 100%;
    // display: flex;
    // justify-content: center;

    iframe {
      min-width: 100%;
      min-height: 100%;

      #document html {
        height: 690px;
      }
    }
  }
}

.isBlur {
  opacity: 50%;
  pointer-events: none;
}

.chessboard {
  height: 35rem;
}

.stream_wrapper {
  display: flex;
  // width: 335px;
  margin-top: 8px;
  position: relative;
  // justify-content: flex-end;
  flex-direction: column;

  .jitsi {
    display: flex;
    width: 250px;
    height: 175px !important;
    padding: 6px 3px
  }
}

.steps-div {
  margin-top: 8px;
}

.movesList {
  height: 251px;
  display: block;
  overflow: hidden scroll;
}

.table-moves {
  display: flex;
  height: 25rem;
  overflow: hidden scroll;
  justify-content: space-around;
  gap: 0.5rem;
}

.table-moves div p {
  border: 3px solid #257d96;

  padding: 0.2rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableMove-selected {
  background-color: #b5d6e1 !important;
}

.imgRes {
  height: 30px !important;
  width: 30px !important;
  margin: 0px 0px 8px;
  padding: 3.2px;
}

#player_789 {
  display: none !important;
}

.display-step {
  display: block;
  height: 33rem;
  // overflow: hidden scroll;
  cursor: pointer;
  margin-left: 25px;
  // background-color: lightgray;
  border: 4px solid #257d96;
  padding: 7%;
  width: fit-content;
  background-image: url('../../../assets/images/student/STEMy_Mascot.png');
  background-size: auto;
  background-color: white;
  background-repeat: no-repeat;
  background-position: bottom;

}

table {
  text-align: center;
  margin-top: 7rem;
}

table tbody {
  display: block;
  height: 18rem;
  overflow: hidden scroll;
}

td {
  cursor: pointer;

}



.table-moves::-webkit-scrollbar {
  display: none;
}

.steps-div span {
  font-weight: 500;
  font-size: xx-large;

}

.disable-board {
  filter: grayscale(1);
  pointer-events: none;
}

.step-div span {
  align-items: center;
}

.fwd-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.fwd-btns img {
  height: 25px;
}

.steps-main {
  list-style: decimal;
}

.stpes-list {
  display: list-item;
  margin-left: 10px;
}

.stpes-list::marker {
  font-weight: 600;
  font-size: 22px;

}

.steps-decoration {

  margin-top: 2px;
  width: 80px;
  background-color: black;

}

#local_streamName {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  padding-top: 0;
  background-color: #00dff2;
  display: none;
}

#remote_streamName {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  padding-top: 0;
  background-color: #ff0000;
  display: none;
}

#draggable-element {
  width: 100px;
  height: 100px;
  background-color: #666;
  color: white;
  padding: 10px 12px;
  cursor: move;
  position: relative;
  /* important (all position that's not `static`) */
}

#remote_streamName {
  display: none;
}


@media only screen and (max-width: 1024px) {
  .chess {
    overflow: scroll;
    // height: 75vh;
    // width: 60vw;

    iframe {
      min-width: 100%;
      min-height: 100%;

      width: 100%;
      height: 100%;
    }
  }

  .stream_wrapper .jitsi {
    width: 210px;
    height: 135px !important;
  }

  #draggable-remote {
    top: 225px !important;
  }

  .chessboard {
    height: 27rem;
  }

  .display-step {
    margin-left: 0;
    height: 27rem;
    width: auto;
  }
}

@media only screen and (max-width: 768px) {
  .chessboard {
    height: 44rem;
  }

  .display-none {
    display: none;
  }

  .stream_wrapper .jitsi {
    width: 275px;
    height: 175px !important;
  }

  #draggable-remote {
    top: 270px !important;
  }

  .video-col {
    height: 32rem;
  }

  .display-step {
    margin-left: 0;
    height: 32rem;
    width: auto;
  }
}

@media only screen and (max-width:426px) {
  .video-col {
    height: 40rem;
  }

  .stream_wrapper .jitsi {
    width: 380px;
    height: 225px !important;
  }

  #draggable-remote {
    top: 316px !important;
  }

  .video-student {
    height: 19rem;
  }

  .display-step {
    margin-left: 0;
    height: 32rem;
    width: auto;
  }

  .chessboard {
    height: 25rem;
  }
}

@media only screen and (min-width:321px) and (max-width:376px) {
  .stream_wrapper .jitsi {
    width: 330px;
  }
}

@media only screen and (max-width:321px) {
  .video-col {
    height: 39rem;
  }

  .stream_wrapper .jitsi {
    width: 275px;
    height: 190px;
  }

  .video-student {
    height: 20rem;
  }

  .display-step {
    margin-left: 0;
    height: 32rem;
    width: auto;
  }

  .chessboard {
    height: 20rem;
  }
}

@media only screen and (max-width: 720px) {
  .chess {
    // border: 2px solid black;
    overflow: scroll;

    iframe {
      min-width: 100%;
      min-height: 100%;
    }
  }
}