.game_wrapper {
  display: flex;
  justify-content: space-around;
  .chess {
    // position: relative;
    // width: 40%;
    // padding-bottom: 43%;
    width: 100%;
    display: flex;
    justify-content: center;

    iframe {
      min-width: 700px;
      min-height: 700px;
    }

    // iframe {
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     left: 50%;
    //     right: 50%;
    //     width: 100%;
    //     height:100%;
    // }
  }

  .jitsi {
    width: 300px;
    height: 300px;
    padding: 2px;
    margin: 20px;
  }
}

@media only screen and (max-width: 710px) {
  .chess {
    iframe {
      min-width: 600px;
      min-height: 600px;
    }
  }
}

@media only screen and (max-width: 615px) {
  .chess {
    iframe {
      min-width: 500px;
      min-height: 500px;
    }
  }
}

@media only screen and (max-width: 525px) {
  .chess {
    iframe {
      min-width: 425px;
      min-height: 500px;
    }
  }
}
