
.game_wrapper {
    display: flex;
    justify-content: space-around;
.chess {
    width: 70%;
    display: flex;
    justify-content: center;
    
    iframe {
        min-width: 700px;
        min-height: 700px;
    }
}
    .jitsi {
        width: 30%;
        height: 300px;
        padding: 2px;
    }
}

@media only screen and (max-width: 710px) {
    .chess {
        iframe {
            min-width: 600px;
            min-height: 600px;
        }
    }
}

@media only screen and (max-width: 615px) {
    .chess {
        iframe {
            min-width: 500px;
            min-height: 500px;
        }
    }
}

@media only screen and (max-width: 525px) {
    .chess {
        iframe {
            min-width: 425px;
            min-height: 500px;
        }
    }
}