<html>
    <app-header></app-header> 
    <body>
        <div class="signupForm">
            <h2>Sign up</h2>
            <li><input type="text" placeholder="First name"></li>
            <li><input type="text" placeholder="Last name"></li>
            <li><input type="text" placeholder="Username"></li>
            <li><input type="text" placeholder="Password"></li>
            <li><input type="text" placeholder="Re-type password"></li>
            <button type="submit" routerLink="/login">Sign up</button>
        </div>
    </body>
    <app-footer></app-footer>
</html>
