<html>
  <head> </head>

  <header>
    <app-header></app-header>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
  </header>

  <body>
    <form>
      <div class="signupForm">
        <h2>Sign up</h2>
        <div class="errorMessages">
          <h3>{{ firstNameError }}</h3>
          <h3>{{ lastNameError }}</h3>
          <h3>{{ emailError }}</h3>
          <h3>{{ userNameError }}</h3>
          <h3>{{ passwordError }}</h3>
          <h3>{{ retypePasswordError }}</h3>
        </div>
        <li>
          <input
            type="text"
            placeholder="First name"
            id="firstName"
            (blur)="firstNameVerification($event)"
            (blur)="checkIfValidAccount()"
          />
        </li>
        <li>
          <input
            type="text"
            placeholder="Last name"
            id="lastName"
            (blur)="lastNameVerification($event)"
            (blur)="checkIfValidAccount()"
          />
        </li>
        <li>
          <input
            type="text"
            placeholder="Email"
            id="email"
            (blur)="emailVerification($event)"
            (blur)="checkIfValidAccount()"
          />
        </li>
        <li>
          <input
            type="text"
            placeholder="Username"
            id="username"
            (blur)="usernameVerification($event)"
            (blur)="checkIfValidAccount()"
          />
        </li>
        <li>
          <input
            type="password"
            placeholder="Password"
            id="password"
            (blur)="passwordVerification($event)"
            (blur)="checkIfValidAccount()"
          />
        </li>
        <li>
          <input
            type="password"
            placeholder="Re-type password"
            id="retypedPassword"
            (blur)="retypePasswordVerification($event, $event)"
            (blur)="checkIfValidAccount()"
          />
        </li>
        <li><p>Select Account Type</p></li>
        <li>
          <select name="account type" id="types" (click)="checkIfParent()">
            <option value=""></option>
            <option value="mentor">Mentor</option>
            <option value="parent">Parent</option>
          </select>
        </li>

        <div *ngIf="checkIfParent()">
          <button
            type="button"
            id="create"
            (click)="checkIfCreateNewStudent($event)"
          >
            Create Student?
          </button>
          <div *ngIf="newStudentFlag" id="{{ numStudents.length }}">
            <div
              *ngFor="let student of students(); let i = index"
              id="newStudent{{ i }}"
            >
              <div id="error{{ i }}" class="errorMessages">
                <h3 id="errorFirstName{{ i }}"></h3>
                <h3 id="errorLastName{{ i }}"></h3>
                <h3 id="errorUsername{{ i }}"></h3>
                <h3 id="errorPassword{{ i }}"></h3>
                <h3 id="errorRetype{{ i }}"></h3>
              </div>
              <button
                type="button"
                id="x"
                class="x"
                (click)="removeNewStudent($event, i)"
              >
                X
              </button>
              <li>
                <input
                  type="text"
                  placeholder="Students first name"
                  id="studentFirstName{{ i }}"
                  (blur)="studentFirstNameVerification($event, i)"
                  (blur)="ifValidStudentAccount($event, i)"
                />
              </li>
              <li>
                <input
                  type="text"
                  placeholder="Students last name "
                  id="studentLastName{{ i }}"
                  (blur)="studentLastNameVerification($event, i)"
                  (blur)="ifValidStudentAccount($event, i)"
                />
              </li>
              <li>
                <input
                  type="text"
                  placeholder="Student username"
                  id="studentUsername{{ i }}"
                  (blur)="studentUsernameVerification($event, i)"
                  (blur)="ifValidStudentAccount($event, i)"
                />
              </li>
              <li>
                <input
                  type="email"
                  placeholder="Student email"
                  id="studentEmail{{ i }}"
                  (blur)="ifValidStudentAccount($event, i)"
                />
              </li>
              <li>
                <input
                  type="password"
                  placeholder="Student password"
                  id="studentPassword{{ i }}"
                  (blur)="studentPasswordVerification($event, i)"
                  (blur)="ifValidStudentAccount($event, i)"
                />
              </li>
              <li>
                <input
                  type="password"
                  placeholder="Re-type password"
                  id="studentRetypedPassword{{ i }}"
                  (blur)="studentRetypePasswordVerification($event, $event, i)"
                  (blur)="ifValidStudentAccount($event, i)"
                />
              </li>
              <button
                type="button"
                id="plus{{ i }}"
                class="x"
                (click)="addNewStudentForm($event, i)"
              >
                +
              </button>
            </div>
          </div>
        </div>

        <li>
          <input
            type="checkbox"
            id="checkbox"
            (blur)="checkIfValidAccount()"
          /><a>I accept the terms and conditions</a>
        </li>
        <button type="submit" [routerLink]="[link]" (click)="SendToDataBase()">
          Sign up
        </button>
      </div>
    </form>
  </body>

  <footer>
    <app-footer></app-footer>
  </footer>
</html>
