body {
    margin: 0 auto;
    text-align: center;
}

.signupForm input {
    margin: 20px;
    padding: 15px 32px;
    font-size: 20px;
    font-family: 'Gotham-Bold';
    background-color: white; 
    color: black; 
    border: 3px solid #D64309;
    border-radius: 8px;
}

.signupForm li {
    list-style: none;
}