<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168619402-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-168619402-1');
        </script>
    </head>
    
    <header>
        <app-header></app-header>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    </header>

    <body>
        <div id="why_chess_top_ten_wrapper">
            <!--start of why_chess_container-->
            <div id="why_chess_container">
                <div id="why_chess">
                    <h3>Why Chess</h3>
                        <p>
                            The reason we start with is that Chess is because it teaches children to start 
                            thinking like STEM professionals. We can slowly start to build the soft skills 
                            that our students will need to be successful in the long term. The ten reasons 
                            why Chess is important to the education of our youth.
                        </p>
                </div>
            </div>
            <!--end of why_chess_container-->

            <!--start of top_ten_container-->
            <div id="top_ten_container">
                <div id="top_ten">
                    <h3>Ten Benefits of Chess</h3>
                    <ul>
                        <li>Promotes brain growth</li>
                        <li>It exercises both sides of the brain</li>
                        <li>Raises your IQ</li>
                        <li>Helps prevent Alzheimer’s</li>
                        <li>Sparks your creativity</li>
                        <li>Increases problem-solving skills</li>
                        <li>Teaches planning, foresight and the role of consequences</li>
                        <li>Improves reading skills</li>
                        <li>Optimizes memory improvement</li>
                        <li>Improves recovery from stroke or disability</li>
                    </ul>
                </div>
            </div>
            <!--end of top_ten_container-->
        </div>

        <!--start of why_chess2_container-->
            <div id="why_chess2_container">
                <div id="why_chess2">
                    <h3>Benefits For the Child</h3>
                    <p>
                        The development of these fundamental skills required to be successful in any STEM 
                        discipline. A chess match requires creative problem-solving on the fly because your 
                        opponent is constantly changing the parameters. In order to be good programmers and STEM 
                        professionals, our students have to have a strong command of our creative side of our brains 
                        and also be able to problem solve to help reach a solution that the program wishes to solve. 
                        The problem is how to quickly checkmate the king while avoiding a checkmate from your opponent. 
                        This constant struggle forces players to think fast while implementing their strategy much like 
                        any STEM job. Health Fitness Revolution. 
                        <br>
                        <br> 
                        Retrieved June 28, 2017,
                        <a href="http://www.healthfitnessrevolution.com">The Top 10 Health Benefits of Chess while Social Distancing</a>
                        <br>Retrived April 05, 2016, 
                        <a href="http://www.healthfitnessrevolution.com/top-10-health-benefits-chess/">The Top 10 Health Benefits of Chess.</a>
                </div>
            </div>
        <!--end of why_chess2_container-->
        
    </body>

    <footer>
        <app-footer></app-footer>
    </footer>
</html>
