<html>

<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "GTM-KJ979C9");
    </script>
    <!-- End Google Tag Manager -->
</head>

<header>
    <app-header></app-header>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
</header>
<!-- 
FAQ START 
-->

<body>
    <div class="container">
        <br />
        <br />
        <div class="panel-group" id="accordion">

            <div style="text-align: center;">
                <div class="faqHeader"><strong>Getting Started</strong></div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseOne">How
                            do I sign up?</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        At the top of the website, you can click "play" and click "Sign Up"
                        with YSTEM and Chess to start tutoring lessons today with a parent!
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseTen">What is the age requirement to join YSTEM & Chess?</a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse">
                    <div class="panel-body">
                        At YSTEM & Chess, we focus on children ranging
                        from the K-12 group who are passionate about learning STEM and chess.

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseEleven">Where can I learn to play chess?</a>
                    </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse">
                    <div class="panel-body">
                        Using our website, you can navigate the top section titled "Lessons" to learn and master the
                        basics
                        of chess. We also offer remote chess lessons through our
                        program that will allow you to connect to an experienced chess tutor.
                    </div>
                </div>
            </div>

            <!-- 
    DIV
    CENTER
    ELEMLENT
    -->
            <div style="text-align: center;">
                <div class="faqHeader"><strong>Programs and Communities</strong></div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseTwo">Why is STEM important?</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        Children that live in poverty benefit greatly from high paying STEM jobs. Millions of open STEM
                        jobs
                        US economy billions every year in lost growth opportunity.
                        Through our program, we will teach the essential STEM skills needed to perform these jobs and
                        grant
                        them an opportunity to fulfill their dreams.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseThree">What does YSTEM & Chess provide?</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        Our program provides underserved children with a private tutor in chess,
                        math and engineering to prepare students in fields such as computer science, mathematics,
                        information technology, and other technological related sectors.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseFive">Where is YSTEM & Chess located?</a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        YSTEM is currently located in Boise, Idaho. However, we offer remote tutoring all over the
                        world.
                        We currently have over 700+ students in 5 states and 3 different countries.
                    </div>
                </div>
            </div>




            <!-- 
    DIV 
    CENTER
    -->
            <div style="text-align: center;">
                <div class="faqHeader"><strong> Benefits and Importances</strong></div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseFour">How is chess essential to our youth? </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        Chess is one of the many activities that can exercise our minds and increase problem-solving
                        skills.
                        These benefits allow our students to open their minds and teach them potential tactics that
                        contribute
                        to education in their lives to help prepare them as STEM professionals in the future.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseSeven">Will this program only teach chess?</a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">
                        No! Our program offers 1 on 1 tutoring that teaches our students mathematics, coding, and even
                        other
                        STEM related
                        topics to help sharpen their knowledge in certain areas!

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseSeven">How can YSTEM help prepare my child for their future?</a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">
                        With our program, STEM and chess has many certain positive impacts on an individual.
                        Students and growing children report to have a boost in their confidence when implementing chess
                        into their daily lives in school.
                        <ul> Studies have also shown through the fundamental rules, logic, and memory related skills
                            learnt
                            from playing chess are found to increase proficiency in literacy, reading and math. </ul>


                    </div>
                </div>
            </div>


        </div>
    </div>

</body>
<!-- FAQ / CSS END -->


<footer>
    <app-footer></app-footer>
</footer>

</html>