<html>
  <head> </head>

  <header>
    <app-header></app-header>
  </header>

  <body>
    <div class="prompt">
      <h3>
        If you want tutoring in chess, math, or computer science,
        <a href="/signup">sign up</a> with your parent to YStem and Chess today.
      </h3>
      <h3>Or practice chess on the computer below!</h3>
    </div>

    <div id="play-container">
      <div id="chess-board">
        <div [ngClass]="{ 'disable-board': !isStepLast }">
          <iframe [src]="chessSrc" id="chessBd"></iframe>
        </div>
        <div class="game_wrapper">
          <div class="chess">
            <div *ngIf="displayMoves.length > 0" class="steps-div">
              <!-- <div class="text-center">
                <span>Steps</span>
              </div>
              <div class="fwd-btns">
                <p
                  (click)="setMove(0, 'backward')"
                  [ngClass]="currentStep === 0 && 'isBlur'"
                >
                  <img
                    src="../../../assets/images/moves/icons8-rewind-100.png"
                  />
                </p>
                <p
                  (click)="setMove(currentStep - 1, 'backward')"
                  [ngClass]="currentStep <= 0 && 'isBlur'"
                >
                  <img
                    src="../../../assets/images/moves/icons8-less-than-60.png"
                  />
                </p>
                <p
                  (click)="setMove(currentStep + 1, 'forward')"
                  [ngClass]="
                    currentStep === displayMoves.length - 1 && 'isBlur'
                  "
                >
                  <img
                    src="../../../assets/images/moves/icons8-more-than-60.png"
                  />
                </p>
                <p
                  (click)="setMove(displayMoves.length - 1, 'forward')"
                  [ngClass]="
                    currentStep === displayMoves.length - 1 && 'isBlur'
                  "
                >
                  <img
                    src="../../../assets/images/moves/icons8-fast-forward-100.png"
                  />
                </p>
              </div> -->

              <div class="display-step" (scroll)="scrolled($event)" #scrollframe>
                <div class="text-center">
                  <span>Steps</span>
                  <hr class="steps-decoration">
                </div>
                <div class="table-moves" #item>
                  
                  <div style="width: 100px">
                    <div
                      *ngFor="let item of displayMoves; let i = index"
                      (click)="setMove(i,'direct')" style=" background-color: #b5d6e1;"
                    >
                      <p *ngIf="i % 2 === 0" [class.tableMove-selected]="i == currentStep">
                        <img [src]="imgPos(i)" alt="" class="imgRes" /> {{ item.pos }}
                      </p>
                    </div>
                  </div>
                  <div style="width: 100px">
                    <div
                      *ngFor="let item of displayMoves; let i = index"
                      (click)="setMove(i,'direct')" style=" background-color: #b5d6e1;"
                    >
                      <p *ngIf="i % 2 !== 0"  [class.tableMove-selected]="i == currentStep">
                        <img [src]="imgPos(i)" alt="" class="imgRes" />{{ item.pos }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
      <div id="bottom" class="newGameUndo">
        <button type="button" id="new-game" (click)="newGameInit()">
          New Game
        </button>
        <button type="button" id="undo" (click)="undoPrevMove()">Undo</button>
        <div class="movesAhead">
          <p id="tag">
            The computer will think
            <input
              type="number"
              min="1"
              step="1"
              max="30"
              value="5"
              id="movesAhead"
              (keypress)="numberOnly($event)"
            />
            moves ahead.
          </p>
        </div>
      </div>
    </div>
  </body>

  <footer style="padding-top: 13rem;">
    <app-footer></app-footer>
  </footer>
</html>
