<app-header></app-header>

<div class="prompt">
    <h3>Want lessons? <a href="/signup">Sign up</a> for YStem and Chess Today!</h3>
    <h3>Or practice down below!</h3>
</div>

<div id="mentor-container">
    <div id="top">
    </div>
    <div id="lichess-board">
        <app-play></app-play>
    </div>
    <div id="bottom">        
        <button type="button" id="new-game" (click)="newGameInit()"> New Game</button>
        <p id="tag">The computer will think <input type="number" min="1" max="30" value="5" id="movesAhead"> moves ahead.</p>
    </div>
</div>

<app-footer></app-footer>