
.prompt {
    text-align: center;
    padding-top: 2%;
}

#mentor-container {
    margin-top: 2%;
    width:90%;
    height: auto;
    margin-left: 5%;
    text-align: center;
    border-radius:33px;
    //background-color: #E1E7ED;
    background-color: white;

    #top {
        justify-content: flex-end;
        padding-top:3%;
        padding-bottom:2%;

        #new-game, #undo {
            outline-style: none;
            padding-top: 1%;
            padding-bottom:1%;
            padding-left: 2%;
            padding-right:2%;
            font-family: 'Lato';
            font-weight: 900;
            font-size: 22px; //22px
            line-height: 117.1%;
            letter-spacing: 0.01em;
            border-radius: 33px;
            color: #FFF;
            background-color: #FF8503;
        }

        #new-game:hover, #undo:hover {
            color:#FF8503;
            background-color: #fff;
        }
    }
        

    #lichess-board {
        width:100%;
    }

    #bottom {
        padding-bottom:2%;
    }
}

#movesAhead { 
    width: 100px;
}

#tag {
    padding: 20px;
}