.prompt {
  text-align: center;
  padding-top: 2%;
}

#play-container {
  margin-top: 2%;

  #bottom {
    margin-top: 2%;
    padding-bottom: 2%;
    text-align: center;

    #new-game,
    #undo {
      outline-style: none;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 2%;
      padding-right: 2%;
      font-family: "Lato";
      font-weight: 900;
      font-size: 18px; //22px
      line-height: 117.1%;
      letter-spacing: 0.01em;
      border-radius: 6px;
      margin: 10px;
      color: #fff;
      width: 200px;
      border: none;
      background-color: #0046fd;
      box-shadow: 3px 4px #ead94c;
    }

    #undo {
      outline-style: none;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 2%;
      padding-right: 2%;
      font-family: "Lato";
      font-weight: 900;
      font-size: 18px; //22px
      line-height: 117.1%;
      letter-spacing: 0.01em;
      border-radius: 6px;
      margin: 10px;
      color: #fff;
      width: 200px;
      border: none;
      background-color: #0046fd;
      box-shadow: 3px 4px #ead94c;
    }

    #new-game:hover {

      background-color: #0046fd;
      box-shadow: 3px 4px #ead94c;
    }

    #undo:hover {

      background-color: #0046fd;
      box-shadow: 3px 4px #ead94c;
    }
  }



  #lichess-board {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  // iframe {
  //   min-width: 700px;
  //   min-height: 700px;
  // }
  #bottom {
    padding-bottom: 2%;
  }
}

.chess {
  height: 35rem !important;

  iframe {
    min-width: 100%;
    min-height: 100%;
    overflow: visible;
  }
}

.game_wrapper {
  display: flex;
  justify-content: space-around;

  .chess-steps {
    width: 100%;

    iframe {
      min-width: 100%;
      min-height: 100%;
    }
  }
}

.newGameUndo {
  display: flex;
  justify-content: center;
  gap: 15px;
}

iframe {
  min-width: 100%;
  min-height: 100%;
}

.movesAhead {
  position: absolute;
  margin-top: 60px;
}

#movesAhead {
  width: 45px;
}

.steps-div span {
  font-weight: 500;
  font-size: xx-large;
}

.fwd-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.fwd-btns img {
  height: 25px;
}

.isBlur {
  opacity: 50%;
  pointer-events: none;
}

.display-step {
  // display: block;
  // height: 20rem;
  // overflow: hidden scroll;
  // cursor: pointer;
  // background-color: lightgray;
  // padding: 7%;
  // width: fit-content;
  display: block;
  height: 33rem;
  // overflow: hidden scroll;
  cursor: pointer;
  margin-left: 0px;
  // background-color: lightgray;
  border: 4px solid #257d96;
  padding: 7%;
  width: fit-content;
  background-image: url('../../../assets/images/student/STEMy_Mascot.png');
  background-size: auto;
  background-color: white;
  background-repeat: no-repeat;
  background-position: bottom;
}

.steps-decoration {
  margin-top: 2px;
  width: 80px;
  background-color: black;
}

.table-moves {
  display: flex;
  gap: 0.5rem;
  height: 25rem;
  overflow: hidden scroll;
  justify-content: space-around;
}

.table-moves div p {
  border: 2px solid black;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-moves::-webkit-scrollbar {
  display: none;
}

.tableMove-selected {
  background-color: white !important;
}

.imgRes {
  height: 30px !important;
  width: 30px !important;
  margin: 0px 0px 8px;
  padding: 3.2px;
}

#tag {
  padding: 15px;
}

.game_wrapper {
  text-align: -webkit-center;

}

@media only screen and (max-width: 321px) {
  .chess {
    height: 20rem !important;
  }

  .display-step {
    height: 28rem;
    margin-left: 0;
  }

  footer {
    padding-top: 60px;
  }
}

@media only screen and (min-width: 321px) and (max-width:376px) {
  .chess {
    height: 24rem !important;
  }

  .display-step {
    height: 30rem;
    margin-left: 0;
  }

  footer {
    padding-top: 48px;
  }
}

@media only screen and (min-width: 376px) and (max-width:426px) {
  .chess {
    height: 27rem !important;
  }

  .display-step {
    height: 27rem;
    margin-left: 0;
  }

  footer {
    padding-top: 40px;
  }
}

@media only screen and (min-width:992px) and (max-width: 1024px) {
  .chess {
    height: 39rem !important;
  }

  .display-step {
    height: auto;
  }
}

// #chess-board {
//   display: flex;
//   justify-content: center;
// }