.container {
  margin-top: 20px;

  p {
    font-size: 20px;
  }
}



.containing {
  background: #f2c94c;
  border-radius: 0px 66px 66px 66px;
  margin: 10px;
  padding-left: 16px;

  h2 {
    padding: 30px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 33px;
    line-height: 150%;
    /* or 49px */

    letter-spacing: 0.01em;

    color: #000000;
  }
}




.movesAhead {
  position: relative;
  text-align: center;
}

#movesAhead {
  width: 47px;
}

.btns {
  justify-content: center;
  padding: 5px;
  margin: -2px;

  .new-game {
    font-family: "Lato";
    font-size: 18px;
    line-height: 117.1%;
    /* or 26px */

    text-align: center;
    letter-spacing: 0.01em;

    color: #ffffff;

    padding: 10px;
    margin: 10px;
    max-height: 45px;
    height: auto;

    border: 1px #0046fd solid;
    background-color: #0046fd;
    box-shadow: 3px 4px #EAD94C;
    border-radius: 6px;
    width: 200px;
    transition: 0.3s;
    cursor: pointer;
  }

  // .new-game:hover {
  //   color: #ff8503;
  //   background-color: white;
  // }
  .play-cpu-game {
    font-family: "Lato";
    font-size: 18px;
    line-height: 117.1%;
    /* or 26px */

    text-align: center;
    letter-spacing: 0.01em;

    color: #ffffff;

    padding: 10px;
    margin: 10px;
    width: 200px;
    max-height: 65px;
    height: auto;
    border: 1px #0046fd solid;
    background-color: #0046fd;
    box-shadow: 3px 4px #EAD94C;
    border-radius: 6px;
    transition: 0.3s;
    cursor: pointer;
  }

  // .play-cpu-game:hover {
  //   color: #51aa00;
  //   background-color: white;
  // }
  .disable-board {
    filter: grayscale(1);
    pointer-events: none;
  }

  .curr-game {
    font-family: "Lato";
    font-size: 18px;
    line-height: 117.1%;
    /* or 26px */

    text-align: center;
    letter-spacing: 0.01em;

    color: #ffffff;

    padding: 10px;
    margin: 10px;
    width: 200px;
    max-height: 45px;
    height: auto;
    border: 1px #0046fd solid;
    background-color: #0046fd;
    box-shadow: 3px 4px #EAD94C;
    border-radius: 6px;
    transition: 0.3s;
    cursor: pointer;
  }

  // .curr-game:hover {
  //   color: #3a7cca;
  //   background-color: white;
  // }
  margin-bottom: 2px;
}

.bigCont {
  // border-radius: 33px;
  // margin: 10px;"");
  background-image: url('../../../assets/images/student/bg-image.jpg');
  background-size: cover;
}

.game_wrapper {
  display: flex;
  justify-content: space-around;

  .chess {
    width: 100%;
    display: flex;
    justify-content: center;

    iframe {
      min-width: 700px;
      min-height: 700px;
    }
  }
}

#chess-board {
  display: flex;
  justify-content: center;
}

.steps-div span {
  font-weight: 500;
  font-size: xx-large;
}

.steps-div {
  text-align: -webkit-center;
}

.fwd-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.fwd-btns img {
  height: 25px;
}

.isBlur {
  opacity: 50%;
  pointer-events: none;
}

.display-step {
  // display: block;
  // height: 20rem;
  // overflow: hidden scroll;
  // cursor: pointer;
  // background-color: lightgray;
  // padding: 7%;
  // width: fit-content;
  display: block;
  height: 33rem;
  // overflow: hidden scroll;
  cursor: pointer;
  margin-left: 0px;
  // background-color: lightgray;
  border: 4px solid #257d96;
  padding: 7%;
  width: fit-content;
  background-image: url('../../../assets/images/student/STEMy_Mascot.png');
  background-size: auto;
  background-color: white;
  background-repeat: no-repeat;
  background-position: bottom;
}

.steps-decoration {
  margin-top: 2px;
  width: 80px;
  background-color: black;
}

.table-moves {
  display: flex;
  gap: 0.5rem;
  height: 25rem;
  overflow: auto;
  scroll-behavior: smooth;
  justify-content: space-around;
}

.table-moves div p {
  border: 2px solid black;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-moves::-webkit-scrollbar {
  display: none;
}

.tableMove-selected {
  background-color: white !important;
}

.imgRes {
  height: 30px !important;
  width: 30px !important;
  margin: 0px 0px 8px;
  padding: 3.2px;
}

// .gameclass {
//   display: flex;
//   justify-content: space-between;

// }
app-play {
  padding: 150px;
}


#mentor-container {
  width: 100%;
  height: auto;
  height: auto;
  border-radius: 33px;
  // background-image: url('../../../assets/images/student/bg-image.jpg');
  //background-color: #E1E7ED;

  #top {
    display: flex;
    justify-content: flex-end;
    padding-top: 2%;
    padding-bottom: 2%;

    .turn-indicator {
      width: 28px;
      height: 28px;
      margin-right: 1%;
      border-radius: 100%;
      background-color: #fff;
    }

    //will change in future to which
    //players turn it is
    .turn-indicator:hover {
      background-color: #4f4f4f;
    }

    p {
      margin-right: 3%;
      font-family: "Lato";
      font-size: 1.4vw; //2px
      line-height: 142.1%;
      letter-spacing: 0.01em;
      color: #000000;
    }

    button {
      outline-style: none;
      margin-right: 3%;
      padding-right: 2%;
      padding-left: 2%;
      border-radius: 33px;
      font-family: "Lato";
      font-size: 1.4vw;
      line-height: 117.1%;
      letter-spacing: 0.01em;
      color: #fff;
      background-color: #3a7cca;
    }

    button:hover {
      background-color: #fff;
      color: #3a7cca;
    }
  }

  #lichess-board {
    overflow: hidden;

    iframe {
      overflow: hidden;
      border: 0;
      width: 100%;
      height: 80vh; //80vh
    }
  }

  #bottom {
    padding-top: 2%;
    padding-bottom: 2%;

    #flip-board {
      outline-style: none;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 3%;
      padding-right: 3%;
      border-radius: 6px;
      font-family: "Lato";
      font-weight: 900;
      font-size: 18px; //22px
      line-height: 117.1%;
      letter-spacing: 0.01em;
      color: white;
      margin: 10px;
      width: 200px;
      border: none;
      background-color: #0046fd;
      box-shadow: 3px 4px #ead94c;


      //push new game button away
    }

    // #flip-board:hover {
    //   color: #f2c94c;
    //   background-color: #000;
    // }

    #new-game {
      outline-style: none;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 2%;
      padding-right: 2%;
      font-family: "Lato";
      font-weight: 900;
      font-size: 18px; //22px
      line-height: 117.1%;
      letter-spacing: 0.01em;
      border-radius: 6px;
      margin: 10px;
      color: #fff;
      width: 200px;
      border: none;
      background-color: #0046fd;
      box-shadow: 3px 4px #ead94c;

      //push lesson prep button away
    }

    #undo-move {
      outline-style: none;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 2%;
      padding-right: 2%;
      font-family: "Lato";
      font-weight: 900;
      font-size: 18px; //22px
      line-height: 117.1%;
      letter-spacing: 0.01em;
      margin: 10px;
      border-radius: 6px;
      width: 200px;
      border: none;
      background-color: #0046fd;
      box-shadow: 3px 4px #ead94c;
      color: #fff;
      //push lesson prep button away
    }

    // #new-game:hover {
    //   color: #ff8503;
    //   background-color: #fff;
    // }

    #lesson-prep {
      outline-style: none;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 2.5%;
      padding-right: 2.5%;
      font-family: "Lato";
      font-style: normal;
      font-weight: 900;
      font-size: 18px; //22px
      line-height: 117.1%;
      letter-spacing: 0.01em;
      border-radius: 6px;
      margin: 10px;
      color: #fff;
      width: 200px;
      border: none;
      background-color: #0046fd;
      box-shadow: 3px 4px #ead94c;
      width: 265px;
    }

    #lesson-prep:hover {
      background-color: #0046fd;
      color: #fff;
    }
  }
}

@media only screen and (max-width:321px) {

  footer {
    margin-top: -28px;
  }

}

@media only screen and (max-width:426px) {
  .outer-filp-board {
    display: grid;
    justify-items: center;

    button {
      width: 100% !important;
    }
  }
}

@media only screen and (min-width:992px) and (max-width:1025px) {
  .steps-stud-div {
    position: absolute;
    top: 215px;
    right: 5%;

    .display-step {
      margin-top: 0;
      margin-right: 0;
      height: 27rem;
    }
  }
}

@media only screen and (min-width:1025px) and (max-width:1600px) {
  .steps-stud-div {
    position: absolute;
    top: 230px;
    right: 15%;

    .display-step {
      margin-top: 0;
      margin-right: 0;
      height: 33rem;
    }
  }
}

@media only screen and (min-width:1600px) and (max-width:2000px) {
  .steps-stud-div {
    position: absolute;
    top: 235px;
    right: 18%;

    .display-step {
      margin-top: 0;
      margin-right: 0;
      height: 33rem;
    }
  }
}

@media only screen and (min-width:2000px) {
  .steps-stud-div {
    position: absolute;
    top: 270px;
    right: 29%;

    .display-step {
      margin-top: 0;
      margin-right: 0;
      height: 33rem;
    }
  }
}

@media only screen and (min-width:321px) and (max-width:376px) {
  footer {
    margin-top: -33px;
  }
}

@media only screen and (min-width:376px) and (max-width:426px) {
  footer {
    margin-top: -22px;
  }
}

@media only screen and (min-width:426px) and (max-width:769px) {
  footer {
    margin-top: -40px;
  }
}

@media only screen and (min-width:769px) and (max-width:1025px) {
  footer {
    margin-top: -52px;
  }
}

@media only screen and (min-width:1025px) and (max-width:1441px) {
  footer {
    margin-top: -72px;
  }
}

@media only screen and (min-width:1441px) and (max-width:1600px) {
  footer {
    margin-top: -77px;
  }
}

@media only screen and (min-width:1600px) and (max-width:2000px) {
  footer {
    margin-top: -82px;
  }
}

@media only screen and (min-width:2000px) and (max-width:2560px) {
  footer {
    margin-top: -128px;
  }
}