<header>
  <app-header></app-header>
  <link
    href="https://fonts.googleapis.com/css?family=Roboto"
    rel="stylesheet"
  />
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
</header>

<!-- Green container holding learnings content -->
<div class="container text-center">
  <div class="row">
    <!-- Displays title and instructions for selected chess board situation -->
    <div class="col instructions">
      <div id="instructions-header">
        <h3>Choose a Lesson</h3>
      </div>
      <div id="instructions-paragraph">
        <p>{{ info }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul id="accordion-ul">
        <li *ngFor="let section of sections">
          <button
            class="accordion-expand"
            [ngClass]="activeClass"
            (click)="onSectionClick($event)"
          >
            {{ "[+] " + section.name }}
          </button>
          <ul class="panel">
            <li *ngFor="let subSection of section.subSections">
              <button
                class="accordion-sub"
                (click)="onSubSectionClick(subSection)"
              >
                {{ subSection.name }}
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col chess">
      <!-- Display selected chess board situation -->
      <iframe id="chessBd" [src]="chessSrc"></iframe>
    </div>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</div>
