<header>
  <app-header></app-header>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">

</header>

<!-- Green container holding learnings content -->
<div class="container ">
  <!-- <div class="row">
    
    <div class="col instructions">
      <div id="instructions-header">
        <h3>Choose a Lesson</h3>
      </div>
      <div id="instructions-paragraph">
        <p>{{ info }}</p>
      </div>
    </div>
  </div> -->
  <div class="row lesson-play-section">
    <div class="col-12 col-lg-8 chess">
      <div class="btn-div">
        <button class="lesson-btn">
          Lesson
        </button>
        <button class="play-btn" onclick="">
          <a style="color:black" href="{{ playLink }}">Play</a>
        </button>
      </div>


      <!-- Display selected chess board situation -->
      <iframe id="chessBd" [src]="chessSrc"></iframe>
    </div>

    <div class="col-12 col-lg-4 pl-lg-5">
      <div class="row mt-5 align-items-center">
        <div class="col-8 font-weight-bold" *ngFor="let section of sections" (click)="showSubSection($event)">
          <h3>{{ section.name }}
          </h3>
        </div>
        <div class="col-4 text-right">
          <button class="refresh-btn" (click)="refresh()">
            <i class="fa-sharp fa-solid fa-rotate-right icon-size"></i>
          </button>
        </div>
      </div>

      <div class="row mt-4 mx-1">
        <div class="col-12 lesson-instruction-section" *ngFor="let section of sections">
          <p class="lesson-instruction text-center">Try this!</p>
          <p class="lesson-instruction instruction-detail pl-5">{{ info }}</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-6 text-right"><button class="play-btn" (click)="loadPrevLesson()"
            [disabled]="lessonNumber == 0"><i class="fa-solid fa-arrow-left pr-2 icon-size"></i>Back</button></div>
        <div class="col-6"> <button class="next-btn" (click)="loadNextLesson()" [disabled]="lessonNumber == 35">Next<i
              class="fa-solid fa-arrow-right pl-2 icon-size"></i></button></div>
      </div>



    </div>
  </div>
  <div class="row mt-5 pt-2">
    <div class="col">
      <div *ngFor="let section of sections">

        <div class="tab subsection-section" *ngFor="let subSection of section.subSections"
          (click)="setStateAsActive(subSection)" id="{{subSection.name}}">

          <button class="tablinks btn-tabs col-2 font-weight-bold"
            [ngClass]="{'active': subSection === activeState || subSection.name === activeState.name}"
            (click)="startLesson(subSection)"> {{ subSection.name }} </button>

        </div>
      </div>

    </div>
  </div>
  <div style="width: 1200px; height: 1200px; border: 1px solid black">
    <div>
      <button (click)="saveToStorage()">saveToStorage</button>
      <button (click)="loadFromStorage()">Load from storage</button>
      <button (click)="changeOptions()">Update canvas options</button>  
    </div>
    <canvas-whiteboard #canvasWhiteboard
    [options]="canvasOptions" [drawButtonClass]="'drawButtonClass'"
		[drawButtonText]="'Draw'" [clearButtonClass]="'clearButtonClass'" [clearButtonText]="'Clear'"
		[undoButtonText]="'Undo'" [undoButtonEnabled]="true" [redoButtonText]="'Redo'" [redoButtonEnabled]="true"
		[fillColorPickerText]="'Filled'" [strokeColorPickerText]="'Stroked'" [colorPickerEnabled]="true"
		[strokeColorPickerEnabled]="true" [saveDataButtonEnabled]="true" [saveDataButtonText]="'Save'" [lineWidth]="5"
		[strokeColor]="'rgb(0,0,0)'" [shouldDownloadDrawing]="true">
    </canvas-whiteboard>  
  </div>


</div>
<footer>
  <app-footer></app-footer>
</footer>