body {
    text-align: center;
}

#clear {
    clear:both;
}

#content-container {
    position:relative;
    overflow: hidden;
    margin-top: 3%;
    margin-left:3%; //53px
    margin-right:3%; //53px
    height:auto;
    background-color: #51AA00;
    border-radius:33px; //33px
}

#instructions-header {
        // float:left;
        width:25%;
        height:auto;
        padding-left:2%;
        overflow: hidden;
        font-family: 'Lato';
        font-style:bold;
        font-weight:900;
        font-size:3vw;   //42px //262.5%
        line-height: 250%; 
        letter-spacing:0.07em;
        color:#ffffff;
        box-sizing: border-box;

}
#instructions-paragraph p{
    // float: left;
    width:35%;
    height:auto;
    // margin-left:2.5%;
    // padding-left:2%;
    // margin-right:10.5%; //80px;
    overflow: hidden;
    font-family:'Roboto';
    font-style:normal;
    font-weight:500;
    font-size:1.4vw; // 137.5%
    line-height:117.1%;
    letter-spacing:0.01em;
    box-sizing: border-box;
    color:#ffffff;
}

#chess-play {
    position: relative;
    // width:65%;
    // overflow: hidden;
    float: right;
        max-width:45%;
        // max-height: 35%;
        margin-bottom: 2%;
        margin-top: 2%;
        // margin-right: -5%;
}

@media(max-width: 860px) {
    #content-container {
        margin: 0 auto;
        width:90%;
        margin-left:5%;
        padding-bottom: 8%;
        
        #chess-play {
        // display: flex;
        max-width: 50%;
        // max-height: 350px;
        justify-content: center;
        align-items: center;
        }
    }

    // #chess-play {
    //     max-width: 10%;
    //     justify-content: center;
    //     align-items: center;
    // }

    #instructions-header {
        display: flex;
        justify-content: center;
        align-items: center;
            h3 {
                margin-top: 3%;
            }

            #links {
                margin-top: 6%;
                padding-bottom: 0;
            }   
        }  
    #instructions-paragraph p{
        p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        }
        #links {
            margin-top: 6%;
            padding-bottom: 0;
        }
    }
}

