body {
  text-align: center;
}

#clear {
  clear: both;
}

#greeting {
  color: #3939f3;
  font-size: 72px;
}

#instructions-container {
  overflow: hidden;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  height: auto;
  background-color: #51aa00;
  border-radius: 33px;
}

#instructions-header h3 {
  float: center;
  height: auto;
  overflow: hidden;
  font-family: "Lato";
  font-style: bold;
  font-weight: 900;
  font-size: 3vw;
  line-height: 250%;
  letter-spacing: 0.07em;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#instructions-paragraph p {
  float: center;
  height: auto;
  margin-left: 10.5%;
  margin-right: 10.5%;
  overflow: hidden;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4vw;
  line-height: 117.1%;
  letter-spacing: 0.01em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
}

#chess-container {
  float: right;
  overflow: hidden;
  margin-right: 3%;
  margin-bottom: 3%;
  width: 45%;
  height: 108.079%;
  border-radius: 33px;
  background-color: #bff37b;
}

#chess-header {
  margin-top: 9.8%;
  font-family: "Roboto";
  font-style: bold;
  font-weight: 900;
  font-size: 2vw;
  line-height: 117.1%;
  letter-spacing: 0.01em;
  color: black;
}

#chess-paragraph p {
  margin-top: 9.8%;
  margin-left: 16.5%;
  width: 66%;
  font-family: "Roboto";
  font-style: bold;
  font-weight: 500;
  font-size: 1.4vw;
  line-height: 117.1%;
  letter-spacing: 0.01em;
  color: #fff;
}

#chess-img img {
  overflow: hidden;
  float: right;
  max-width: 35%;
  max-height: 35%;
  margin-bottom: 3%;
  margin-right: 3%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#score-board-container {
  position: relative;
  float: left;
  overflow: hidden;
  margin-left: 3%;
  width: 45%;
  height: auto;
  background-color: #79edf1;
  border-radius: 33px;
}

#score-board-header h3 {
  height: auto;
  margin-right: 10.5%;
  overflow: hidden;
  font-family: "Lato";
  font-style: bold;
  font-weight: 900;
  font-size: 3vw;
  line-height: 250%;
  letter-spacing: 0.07em;
  color: #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#score-board-paragraph {
  margin-left: 16.5%;
  width: 66%;
  font-family: "Roboto";
  font-style: bold;
  font-weight: 500;
  font-size: 1.4vw;
  line-height: 117.1%;
  letter-spacing: 0.01em;
  color: #000000;
}

#puzzles-menu-container {
  float: right;
  overflow: hidden;
  margin-right: 3%;
  margin-bottom: 3%;
  width: 45%;
  height: 108.079%;
  border-radius: 33px;
  background-color: #e39cf8;
}

#puzzles-menu-header h3 {
  height: auto;
  margin-right: 10.5%;
  overflow: hidden;
  font-family: "Lato";
  font-style: bold;
  font-weight: 900;
  font-size: 3vw;
  line-height: 250%;
  letter-spacing: 0.07em;
  color: #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#puzzles-menu-paragraph {
  margin-left: 16.5%;
  width: 66%;
  font-family: "Roboto";
  font-style: bold;
  font-weight: 500;
  font-size: 1.4vw;
  line-height: 117.1%;
  letter-spacing: 0.01em;
  color: #000000;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion-expand {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: 700;
  font-size: 16pt;
  border: 1px solid #000000;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion-expand:hover {
  background-color: #ccc;
}

.accordion-sub {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #000000;
}

.active,
.accordion-sub:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding-right: 0px;
  display: none;
  overflow: hidden;
}

ul {
  margin-bottom: 0px;
}

.lesson-btn{
  background-color: yellow;
}
/*# sourceMappingURL=learnings.component.css.map */
