<html>
  <head>
    <!-- <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KJ979C9');
    </script> -->
  </head>

  <header>
    <app-header></app-header>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
  </header>

  <body> 
    <!-- Green container holding learnings content -->
    <div id="content-container">
 
        <!-- Displays title and instructions for selected chess board situation -->
       
        <div id="instructions-header">
            <h1>Lesson 1.1</h1>
        </div>
        <div id="instructions-paragraph">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae reprehenderit saepe vitae perspiciatis
                porro architecto optio. Laudantium, libero officia quisquam non ducimus, facere provident vero aliquam,
                molestiae quos ut maxime.</p>
        </div>

        <!-- <div id="clear"></div> -->

        <!-- Display selected chess board situation -->
        <div id="chess-play">
            <app-play></app-play>
        </div>

        <!-- Drop down menu to select chess board situration -->
        <button (click)="postion1()">1</button>
        <button (click)="postion2()">2</button>
        <button (click)="postion3()">3</button>
    </div>

    <footer>
    <app-footer></app-footer>
    </footer>

   </body> 
 
</html>
