<html>
  <head> </head>

  <header>
    <app-header></app-header>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
  </header>

  <body>
    <div class="input-container" *ngIf="!showData; else elseBlock;">
      <h4>Please Enter UserName and Email To Reset Your Password</h4>
      <li>
        <input
          type="text"
          placeholder="UserName"
          id="username"
          (blur)="usernameVerification()"
        />
        <h6>{{ userNameError }}</h6>
      </li>
      <li>
        <input
          type="email"
          placeholder="Email"
          id="email"
          (blur)="emailVerification($event)"
        />
        <h6>{{ emailError }}</h6>
        <h3>{{ result }}</h3>
      </li>
      <button type="submit" (click)="errorMessages()" (click)="verifyUser()">
        Enter
      </button>
    </div>
    <ng-template  #elseBlock>
      <p>
        A password reset link was sent to your registered email. Click the link
        in the email to create a new password.
      </p>
      <div>
        If you have already change the password then click the
        <a routerLink="/login">Login</a>
      </div>
    </ng-template>
  </body>

  <footer>
    <app-footer></app-footer>
  </footer>
</html>
