<html>
    <head>
    </head>

    <header>
        <app-header></app-header>
    </header>

    <body>
        <!-- start of donate container -->
        <div id="donate-container">
            <div id="donate-header">
                <p>First Month is Free. Cancel anytime.
                    The cost is just $25 a week after the first month.</p>
            </div>
            <div id="donate-statement">
                <p>
                    After an initial sign-up, students can retain access to the program, 
                    and all sessions, for a fixed cost. Students will recieve personal 
                    guidance and role-developement, in a safe environment, through our 
                    background-checked mentors. If you have no need for tutoring and just 
                    want to help our mission out, donate through our Cauze link found below.
                </p>
                <ul>
                    <li>In depth program from K-12</li>
                    <li>Tutoring in Chess strategy</li>
                    <li>Learn Math at different skill levels</li>
                    <li>Introduction to core computer language concepts</li>
                    <li>One on one mentoring</li>
                    <li>Personal skills developement</li>
                    <li>Preperation for Advanced Learning and Career Paths</li>
                </ul>
            </div>
            <div id="donate-button">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfVezPch0PtG29-3ePHVvpeQL5vMohL_Mqsu7p6zz2zoDKIWw/viewform?vc=0&c=0&w=1">
                    <button type="button">Register Now</button>
                </a>
            </div>
            <div id="donate-tax">
                <p>
                    The tax deductible donation will be used to scale our program to 
                    underserved communities and students. Y STEM and Chess Inc. is a 
                    registered tax organization.
                </p>
            </div>
            <div id="donate-barcode">
                <img src="../../../assets/images/donate/YSTEM&ChessCauze.png" alt="Cauze">
                <p>Cauze</p>
                <a href="../../../assets/pdf/donate/YSC_EXSUM.pdf">Download our Funding proposal here</a>
            </div>
        </div>
        <!-- end of donate container -->
    </body>

    <footer>
        <app-footer></app-footer>
    </footer>
</html>