<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="admin.component.css">
</head>
<header>
    <app-header></app-header>
   
</header>
<body>
    

    <div class="board-container">
        <div class="box">
            <div class="tab-nav">
              <button class="tab-btn active" data-target="#dashboard"><b>Dashboard</b></button>
              <button class="tab-btn" data-target="#search"><b>Search</b></button>
            </div>
            <div class="tab-content active" id="dashboard">
              <p>Dashboard</p>
            </div>
            <div class="tab-content" id="search">
              <p>Search</p>
            </div>
          </div>

          <script>
            document.querySelectorAll('.tab-btn').forEach(button => {
              button.addEventListener('click', () => {
                document.querySelectorAll('.tab-btn').forEach(btn => btn.classList.remove('active'));
                document.querySelectorAll('.tab-content').forEach(content => content.classList.remove('active'));

                button.classList.add('active');
                document.querySelector(button.getAttribute('data-target')).classList.add('active');
              });
            });
          </script>

    </div>     

    <footer class="footer" style="padding-top:7rem">
        <app-footer></app-footer>
    </footer>   
</body>
</html>
