.row h2 {
    margin-top: 4%;
}

.studentProgress {
    padding: 5px;
    margin: 10px;
    width: 100%;
    background-color: #C4C4C4;
    border-collapse: separate;
    td {
        padding: 10px;
        background-color: #E5E5E5;
        border-bottom: black 1px solid;
    }
    th {
        font-family: 'Lato';
        font-weight: 600;
        font-size: 16px;
        line-height: 117.1%;
        padding: 10px;
        background-color: #C4C4C4;
        border-bottom: black 1px solid;
    }
}

.searchbox {
    margin-bottom: 40px;
}

.searchBtn {
    padding: 7px;
    font-size: 19px;
    border-radius: 12px;
    border: none;
    background-color: #C4C4C4;
    transition-duration: 0.2s;
}

.searchBtn:hover {
    //color: #C4C4C4;
    background-color: white;
}