<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Benefits of Math Tutoring</title>
    <link rel="stylesheet" href="online-article.component.scss">
</head>
<header>
    <app-header></app-header>
</header>

<body>
    <div class="container">
        <div class="text1 txt-p">
            <h5 style="font-weight: bold;">The Importance of Online Expansion of Y Stem and Chess Inc.</h5>
        </div>

        <div class="picture1">
            <img class="pic1" src="../../../assets/images/mathArticle/computer.png" alt="logo">
        </div>

        <div class="text2 txt-p">
            <p>Students practicing their chess skills in a classroom</p>
        </div>

        <div class="text3 txt-p">
            <p>The Importance of Online Expansion of Y STEM and Chess Inc. focuses on using
                technology to scale. Yes, we are nonprofit but more fundamentally we are a technology company.
                Technology will help individualize lessons in chess, math, and computer science. Individualized lessons
                will be conducted online via our website to help rural and urban
                communities that lack access to resources in High School or pay for courses at other institutions. The
                rural and urban companies simply don’t have the resources to prepare students for success in
                STEM. Using the proven aspects of our program, we can change the future of students that have
                largely been excluded from the high-paying jobs that STEM provides while increasing
                inclusivity and lowering poverty.

            </p>
        </div>

        <div class="text4 txt-p">
            <p> Deployment of our learning program online will also provide us with a reliable form of
                donation generation. For those who are not qualified under specific government subsidy
                programs, a membership donation scheduled will be available to utilize the program. This allows
                us to deliver our program to middle-class families and above without losing focus on our primary
                mission. The donations generated through this model will allow us to continue scaling our
                program to underserved communities. Additionally, the model increases awareness in families
                and communities that support our continued expansion via sponsorships, volunteering, publicity,
                software development, and marketing.

            </p>
        </div>

        <!-- <div class="text5">
            <p>While math is a challenging subject, it provides the foundation for many potential careers and is
                essential for pursuing STEM related fields. Even outside of STEM, fields such as economics demand
                an understanding of math. It also helps students learn to keep track of personal finances, as being
                good with numbers is a valuable skill for balancing checkbooks and making investments. Thus, it is
                worthwhile to ensure your student has good foundational skills in mathematics.
            </p>
        </div> -->
    </div>


    <div>
        <div class="rectdiv2">
            <!-- <img class="recttext" src="../../../assets/images/mathArticle/Group 67.png" alt="logo"> -->
            <p class="recttext">"Our goal is to have all our students feel that they belong because they do."</p>
        </div>

    </div>

    <div class="container">

        <div class="text6 txt-p">
            <p> The development of our curriculum online will accelerate the expansion of our program
                by lowering the cost and the logistical concerns for mentors. Most mentors come from STEM
                backgrounds and are located in cities. By moving the program online, they can easily mentor
                from work, school, or home and reach students in rural communities here in Idaho. We can turn
                Idaho into a STEM powerhouse in just a few years.

            </p>
        </div>

        <div class="text10 txt-p">
            <p> Once we refine our curriculum and approach, YSC will roll out our program in other
                geographic and demographic regions across the country. This will provide critical feedback that
                will help ease the challenges of expansion. The more mentors we have, the more students we can
                get into the program, and the faster we can fill STEM-related jobs.
            </p>
        </div>

        <div class="text9 txt-p">
            <p>Online access by students and mentors will allow us to quickly scale our program and
                curriculum. It eliminates geographical supply issues regarding mentors that can play chess, tutor
                math, or teach computer science. Our mentors will be primarily focused on relationship building
                and student community development. Our goal is to have all our students feel that they belong
                because they do. Think of our mentors as the Big Brothers and Big Sisters of STEM. Mentors are
                the critical support factor in a student’s STEM success.
            </p>
        </div>



        <div class="picture2">
            <img class="pic2" src="../../../assets/images/mathArticle/Junechamp 2.png" alt="logo">
        </div>

        <div class="text8 txt-p">
            <p>A student with their mentor after winning an award.</p>
        </div>

        <div class="text9 txt-p">
            <p> The greater access we have to schools and school districts we will have greater access to
                middle-class families and above. We offer our platform for free to our community partners like
                schools but we charge the families that can afford our service. We charge just $25 a week per
                lesson and that has kept us profitable over the last 2 years. The greater our reach the greater our
                donations and the more students we can help through our free program.

            </p>
        </div>

        <div class="text9 txt-p">
            <p> Students love having control of their learning because they feel empowered. Most of the
                students we focus on come from challenging backgrounds and will benefit greatly from the
                positive attention. As will their families and communities.

            </p>
        </div>






    </div>
    <footer style="padding-top: 20rem;">
        <app-footer></app-footer>
    </footer>
</body>